<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="/serving/surveyorder/list"></ion-back-button>
    </ion-buttons>
    <ion-title>勘测单详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'baseinfo'">
      <ion-list lines="full">
        <ion-item-divider color="primary">
          <ion-label>
            基础信息
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
            <h2>
              勘测单编号
            </h2>
            <p>{{model.data["mcs_name"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              门店
            </h2>
            <p>{{model.data[getLookupName("mcs_dealer")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              销售机会
            </h2>
            <p>{{model.data[getLookupName("mcs_accountid")]}}&nbsp;</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>
              姓名
            </h2>
            <p>{{model.data["mcs_username"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              身份证号
            </h2>
            <p>{{model.data["mcs_idcard"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              手机电话
            </h2>
            <p>{{model.data["mcs_userphone"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              邮箱
            </h2>
            <p>{{model.data["mcs_email"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              勘测单类型
            </h2>
            <p>{{model.data[getOptionName("mcs_surveyordertype")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              购买车型
            </h2>
            <p>{{model.data[getLookupName("mcs_carmodelid")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              销售顾问
            </h2>
            <p>{{model.data[getLookupName("mcs_salesconsultant")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              提交时间
            </h2>
            <p>{{FormatToDateTime(model.data["mcs_ordertime"])}}&nbsp;</p>
          </ion-label>
        </ion-item>

        <ion-item-divider color="primary">
          <ion-label>
            建桩信息
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
            <h2>
              联系人姓名
            </h2>
            <p>{{model.data["mcs_contactname"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              联系电话
            </h2>
            <p>{{model.data["mcs_contactphone"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              联系邮箱
            </h2>
            <p>{{model.data["mcs_contactemail"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              省份
            </h2>
            <p>{{model.data[getLookupName("mcs_province")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              城市
            </h2>
            <p>{{model.data[getLookupName("mcs_city")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              区
            </h2>
            <p>{{model.data[getLookupName("mcs_area")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              安装地址
            </h2>
            <p>{{model.data["mcs_installationaddress"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              详细地址
            </h2>
            <p>{{model.data["mcs_detailaddress"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              充电桩型号
            </h2>
            <p>{{model.data[getLookupName("mcs_chargingpilemodel")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              小区名称
            </h2>
            <p>{{model.data["mcs_communityname"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              住宅性质
            </h2>
            <p>{{model.data[getOptionName("mcs_residentialnature")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              住宅类型
            </h2>
            <p>{{model.data[getOptionName("mcs_residentialtype")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              套餐金额
            </h2>
            <p>{{model.data["mcs_price"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              车位情况
            </h2>
            <p>{{model.data[getOptionName("mcs_parkingspace")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              备注
            </h2>
            <p>{{model.data["mcs_remark"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item-divider color="primary">
          <ion-label>
            派工信息
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
            <h2>
              勘测服务商
            </h2>
            <p>{{model.data[getLookupName("mcs_surveyprovider")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              勘测服务商联系人
            </h2>
            <p>{{model.data["mcs_contact"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              勘测服务商电话
            </h2>
            <p>{{model.data["mcs_surveyproviderphone"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              预约勘测时间
            </h2>
            <p>{{FormatToDateTime(model.data["mcs_appointmentdate"])}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              勘测交付工程师
            </h2>
            <p>{{model.data[getLookupName("mcs_surveyengineer")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              勘测交付工程师电话
            </h2>
            <p>{{model.data["mcs_surveyengineerphone"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item-divider color="primary">
          <ion-label>
            勘测内容
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
            <h2>
              实际开始勘测时间
            </h2>
            <p>{{FormatToDateTime(model.data["mcs_begintime"])}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              实际结束勘测时间
            </h2>
            <p>{{FormatToDateTime(model.data["mcs_endtime"])}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              实际勘测人
            </h2>
            <p>{{model.data["mcs_surveyorderman"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              勘测人联系电话
            </h2>
            <p>{{model.data["mcs_surveyorderphone"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              是否需要立柱
            </h2>
            <p>{{model.data[getOptionName("mcs_isneedpillar")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              报价客户自费金额
            </h2>
            <p>¥{{model.data["mcs_selfprice"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              预计电缆长度
            </h2>
            <p>{{model.data["mcs_cablelength"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              报装要求
            </h2>
            <p>{{model.data[getOptionName("mcs_requirements")]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              物业名称
            </h2>
            <p>{{model.data["mcs_propertycompany"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              物业联系人
            </h2>
            <p>{{model.data["mcs_propertycontact"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              物业联系电话
            </h2>
            <p>{{model.data["mcs_propertyphone"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              物业态度
            </h2>
            <p>{{model.data["mcs_propertyattitude"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              出具方案日期
            </h2>
            <p>{{FormatToDate(model.data["mcs_solutiondate"])}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              用户确认方案日期
            </h2>
            <p>{{FormatToDate(model.data["mcs_confirmdate"])}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              报装原件收到日期
            </h2>
            <p>{{FormatToDate(model.data["mcs_receiveddeclaredate"])}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              递交报装资料日期
            </h2>
            <p>{{FormatToDate(model.data["mcs_declaredate"])}}&nbsp;</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
