* {
    margin: 0px;
    padding: 0px;
}

//颜色
$dm-orange: RGB(240,110,35); //(橘色)
$dm-darkblue: RGB(32,48,61); //(深蓝)
$dm-white: RGB(255,255,255); //(白)
$dm-gray: RGB(150,153,154); //(灰)
$dm-gray-line: RGB(238,238,238); //(灰线)

.dm-button-close {
    color: $dm-darkblue;
}
.dm-speclist {
    ion-row {
        ion-col:first-child {
            padding-left: 10px;
            padding-top: 10px;
            font-size: 14px;
            color: $dm-darkblue;
            font-weight: bold;
        }

        ion-col:last-child {
            padding-right: 10px;
            padding-top: 10px;
            font-size: 14px;
            color: $dm-darkblue;
            text-align: right;
        }
    }
}
