<ion-header>
    <ion-toolbar>
        <ion-title>SF5两驱智尊型基本配置</ion-title>
        <ion-buttons slot="end">
            <ion-button expand="block" (click)="closeModal()" class="dm-button-close">关闭</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>


    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-grid class="dm-speclist">
                    <ion-row>
                        <ion-col>
                            长×宽×高（mm）
                        </ion-col>
                        <ion-col>
                            4,700×1,930×1,625
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            轴距（mm）
                        </ion-col>
                        <ion-col>
                            2875
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>