<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/home/tabs/mywork"></ion-back-button>
        </ion-buttons>
        <ion-title>我的客户</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar>
        <ion-segment>
            <ion-segment-button checked>
                <ion-label>全部</ion-label>
            </ion-segment-button>
            <ion-segment-button>
                <ion-label>保修到期(10)</ion-label>
            </ion-segment-button>
            <ion-segment-button>
                <ion-label>保险到期(10)</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>


    <ion-list lines="full">
        <ion-item-divider>
            <ion-label>
                A
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-icon slot="start" color="primary" name="man" size="large"></ion-icon>
            <ion-label>
                <h2>张三</h2>
                <p>15088888888</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="danger" name="woman" size="large"></ion-icon>
            <ion-label>
                <h2>张三</h2>
                <p>15088888888</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="danger" name="woman" size="large"></ion-icon>
            <ion-label>
                <h2>张三</h2>
                <p>15088888888</p>
            </ion-label>
        </ion-item>
        <ion-item-divider>
            <ion-label>
                B
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-icon slot="start" color="primary" name="man" size="large"></ion-icon>
            <ion-label>
                <h2>张三</h2>
                <p>15088888888</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="danger" name="woman" size="large"></ion-icon>
            <ion-label>
                <h2>张三</h2>
                <p>15088888888</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" color="danger" name="woman" size="large"></ion-icon>
            <ion-label>
                <h2>张三</h2>
                <p>15088888888</p>
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>
