<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>我的客户</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar animated [(ngModel)]="mod.searchData.search" placeholder="请输入姓名\手机号\车牌号搜索" (keyup)="searchOnKeyup($event)"></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment>
            <ion-segment-button value="1" checked (click)="tagOnClick(1)">
                <ion-label>全部({{mod.allTotalCount}})</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="tagOnClick(2)">
                <ion-label>保修到期({{mod.warrantyTotalCount}})</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="tagOnClick(3)">
                <ion-label>保险到期({{mod.insuranceTotalCount}})</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="full">
        <ion-item-sliding *ngFor="let item of mod.data;">
            <ion-item [routerLink]="['/serving/mycustomer/detail']" [queryParams]="{id:item.Id}">
                <ion-icon slot="start" color="{{item.gendercolor}}" name="contact" size="large" style="width:60px;height:60px"></ion-icon>
                <ion-label>
                    <h2>{{item.fullname}}</h2>
                    <p>{{item.vehplate}}</p>
                    <p>{{item.vehtype}}</p>
                </ion-label>
                <ion-icon *ngIf="item.mobilephone" name="phone-portrait" size="small"></ion-icon>
                <ion-note slot="end">
                    {{item.mobilephone}}
                </ion-note>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="success" expandable [routerLink]="['/serving/reservation/edit']" [queryParams]="{customerid:item.Id}">
                    预约
                </ion-item-option>
                <ion-item-option color="tertiary" expandable [routerLink]="['/serving/mycustomer/edit']" [queryParams]="{id:item.Id,actionCode:2}">
                    编辑
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        <ion-item *ngIf="ionInfiniteScroll.disabled">
            <ion-label>
                <p>
                    没有更多的记录显示啦
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="success" [routerLink]="['/serving/mycustomer/edit']"><ion-icon name="add"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
