<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/home/mywork"></ion-back-button>
        </ion-buttons>
        <ion-title>我的客户</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar>
        <ion-segment>
            <ion-segment-button checked>
                <ion-label>全部</ion-label>
            </ion-segment-button>
            <ion-segment-button>
                <ion-label>保修到期(10)</ion-label>
            </ion-segment-button>
            <ion-segment-button>
                <ion-label>保险到期(10)</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-list lines="full">
        <!--<ion-item-divider>
            <ion-label>
                A
            </ion-label>
        </ion-item-divider>-->

        <ion-item-sliding *ngFor="let item of mod.data;let key=index">
            <ion-item [routerLink]="['/serving/mycustomer/detail']">
                <ion-icon slot="start" color="primary" name="man" size="large"></ion-icon>
                <ion-label>
                    <h2>{{item.fullname}}</h2>
                    <p>车牌:{{item.vehplate}}</p>
                    <p>车型:{{item.motormodel}}</p>
                </ion-label>
                <ion-icon name="phone-portrait" size="small"></ion-icon>
                <ion-note slot="end">
                    {{item.motormodel}}
                </ion-note>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="tertiary" expandable>
                    预约
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>


        <!--<ion-item-sliding>
            <ion-item [routerLink]="['/serving/mycustomer/detail']">
                <ion-icon slot="start" color="primary" name="man" size="large"></ion-icon>
                <ion-label>
                    <h2>独孤求败</h2>
                    <p>渝A9877H</p>
                    <p>S01</p>
                </ion-label>
                <ion-icon name="phone-portrait" size="small"></ion-icon>
                <ion-note slot="end">
                    15023224233
                </ion-note>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="tertiary" expandable>
                    预约
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
            <ion-item [routerLink]="['/serving/mycustomer/detail']">
                <ion-icon slot="start" color="danger" name="woman" size="large"></ion-icon>
                <ion-label>
                    <h2>李秋水</h2>
                    <p>渝A9877H</p>
                    <p>S01</p>
                </ion-label>
                <ion-icon name="phone-portrait" size="small"></ion-icon>
                <ion-note slot="end">
                    15023224233
                </ion-note>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="tertiary" expandable>
                    预约
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>-->
    </ion-list>
</ion-content>
