.iframestyle{
    width: 100%;
    height: 100%;
    border: 0px;
    overflow-y:hidden;
    overflow-x:hidden;
    SCROLLBAR-FACE-COLOR: #eeeeee; 
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
    //CURSOR: url('images/joekoe.ani'); 
    SCROLLBAR-SHADOW-COLOR: #dee3e7; 
    SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; 
    SCROLLBAR-ARROW-COLOR: #000099; 
    SCROLLBAR-TRACK-COLOR: #ededed; 
    SCROLLBAR-DARKSHADOW-COLOR: #333333
}

