<ion-item *ngIf="disstatus!=7" lines="none" style="border-bottom: 1px solid #d6d2d2">
  <ion-label style="margin-top: 12px">
    <img src="../assets/img/back.png" style="width: 20px;" [routerLink]="['/tabs/personalcenter']">
    <ion-label style="text-align:center;margin-top:-23px">
      设置
    </ion-label>
  </ion-label>
</ion-item>
<ion-content>
  <div
    style="background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1574605434796&di=fabe7013a7b3f0981e11911ed2bcfba5&imgtype=0&src=http%3A%2F%2Fpic30.nipic.com%2F20130624%2F610812_110550186381_2.jpg)">
    <ion-grid>
      <ion-row style="  padding-bottom:15px;background: #fff;">
        <ion-col>
          <ion-list lines="none" style="margin-top:15px;">
            <ion-item  (click)="loginModal()">
              <ion-label style="margin-left:20px;">
                <h3>修改密码</h3>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['#']">
              <ion-label style="margin-left:20px;">
                <h3>安全管理</h3>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['#']"> 
              <ion-label style="margin-left:20px;">
                <h3>错误反馈</h3>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['#']"> 
              <ion-label style="margin-left:20px;">
                <h3>检测更新</h3>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['#']"> 
              <ion-label style="margin-left:20px;">
                <h3>版本</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="ion-padding">
    <ion-button expand="block" type="button" (click)="onRetrun()"
      class="ion-no-margin ios button button-block button-solid ion-activatable ion-focusable hydrated">
      退出登陆
    </ion-button>
  </div>
</ion-content>