<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/home/mywork"></ion-back-button>
        </ion-buttons>
        <ion-title>唯一线索</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar animated [(ngmodelel)]="model.searchData.search" placeholder="请输入姓名\手机号" (keyup)="searchOnKeyup($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list lines="full">
        <ion-item-sliding *ngFor="let item of model.data;let key=index">
            <ion-item [routerLink]="['/saleing/onlylead/detail']" [queryParams]="{id:item.Id}">
                <ion-icon *ngIf="item.mcs_gender===1" slot="start" color="primary" name="contact" size="large" style="width:60px;height:60px"></ion-icon>
                <ion-icon *ngIf="item.mcs_gender===2" slot="start" color="danger" name="contact" size="large" style="width:60px;height:60px"></ion-icon>
                <ion-icon *ngIf="item.mcs_gender===3" slot="start" color="medium" name="contact" size="large" style="width:60px;height:60px"></ion-icon>
                <ion-icon *ngIf="!item.mcs_gender" slot="start" color="medium" name="contact" size="large" style="width:60px;height:60px"></ion-icon>
                <ion-label>
                    <h2>{{item.mcs_name}}</h2>
                    <p *ngIf="item.mcs_gender==1">先生</p>
                    <p *ngIf="item.mcs_gender==2">女士</p>
                    <p *ngIf="item.mcs_gender==3">未知</p>

                    <p *ngIf="item.mcs_leadorigin==1">WEB官网</p>
                    <p *ngIf="item.mcs_leadorigin==2">Event-Online</p>
                    <p *ngIf="item.mcs_leadorigin==3">Event-OffLine</p>
                    <p *ngIf="item.mcs_leadorigin==4">Store展厅</p>
                    <p *ngIf="item.mcs_leadorigin==5">400电话</p>
                    <p *ngIf="item.mcs_leadorigin==6">APP</p>
                    <p *ngIf="item.mcs_leadorigin==7">小程序</p>
                    <p *ngIf="item.mcs_leadorigin==8">车机</p>
                    <p *ngIf="item.mcs_leadorigin==9">H5落地页</p>
                    <p *ngIf="item.mcs_leadorigin==10">3D展厅</p>
                </ion-label>
                <ion-icon *ngIf="item.mobilephone" name="phone-portrait" size="small"></ion-icon>
                <ion-note slot="end">
                    {{item.mcs_mobilephone}}
                </ion-note>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="tertiary" expandable>
                    联络
                </ion-item-option>
                <ion-item-option color="tertiary">
                    培育
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-row *ngIf="modelel.isending">
        <ion-col class="nodata" text-center>
            没有更多内容啦
        </ion-col>
    </ion-row>
    <ion-infinite-scroll #myInfiniteScroll threshold="100px" (ionInfinite)="doLoading($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
