<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/home/tabs"></ion-back-button>
        </ion-buttons>
        <ion-title>唯一线索</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="this.model.seachkey" placeholder="请输入姓名\手机号" (keyup)="search($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!--<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
        </ion-refresher-content>
    </ion-refresher>-->
    <ion-list lines="full">
        <ion-item-sliding *ngFor="let item of model.data;let key=index">
            <ion-item [routerLink]="['/saleing/onlylead/detail']" [queryParams]="{id:item.mcs_onlyleadid}">
                <img src="./assets/img/onlylead.png" style="width:50px;height:50px; margin-right:10px" />
                <ion-label>
                    <h2>{{item.mcs_name}}&nbsp;</h2>
                    <p>{{item.mcs_gendervalue}}&nbsp;</p>

                    <p>{{item.mcs_leadoriginvalue}}&nbsp;</p>
                </ion-label>
                <ion-icon *ngIf="item.mcs_mobilephone" name="phone-portrait" size="small"></ion-icon>
                <ion-note slot="end">
                    {{item.mcs_mobilephone}}&nbsp;
                </ion-note>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="tertiary" expandable [routerLink]="['/saleing/contactrecord/edit']" [queryParams]="{id:item.mcs_onlyleadid}">
                    联络
                </ion-item-option>
                <ion-item-option color="primary" [routerLink]="['/saleing/cultivatetask/edit']" [queryParams]="{type:1,sourid:item.mcs_onlyleadid}">
                    培育
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-row *ngIf="model.ifDoLoading&&model.isending">
        <ion-col text-center>
            <ion-label>
                <p>
                    没有更多内容啦
                </p>
            </ion-label>
        </ion-col>
    </ion-row>
    <ion-infinite-scroll #myInfiniteScroll threshold="100px" (ionInfinite)="doLoading($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
