.row{
    width: 92%;
    margin-left: 4%;
    margin-top: 3%;
    border: 1px solid #6963632e;
    border-radius: 3px; 
}
.lable{
    left: 4%;
    line-height: 40px;
    color: #a4a4a4;
}
input{
    text-align: right;
    margin-top: 7px;
    border: 0px;
    width: 95%;
}