<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/reservation/list"></ion-back-button>
        </ion-buttons>
        <ion-title>创建或编辑预约</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-group>
            <ion-item-divider>
                <ion-label>车主资料</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label>
                    <ion-text color="danger">*</ion-text>姓名：<!--{{model.mcname}}-->
                </ion-label>
                <ion-avatar slot="end">
                    <ion-icon color="primary" size="large" name="search" (click)="presentModal()"></ion-icon>
                </ion-avatar>
            </ion-item>
            <ion-item>
                <ion-label>车牌号</ion-label>
                <ion-note slot="end">渝A100211</ion-note>
            </ion-item>
            <ion-item>
                <ion-label>车主手机</ion-label>
                <ion-note slot="end">18027302264</ion-note>
            </ion-item>
            <ion-item>
                <ion-label>客户标签</ion-label>
                <ion-note slot="end">汽车达人</ion-note>
            </ion-item>
          
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider>
                <ion-label>预约信息</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-text color="danger">*</ion-text><ion-label>服务类型</ion-label>
                <ion-select value="mode.mcs_ordertype" okText="确认" cancelText="取消">
                    <ion-select-option value="10">汽车美容</ion-select-option>
                    <ion-select-option value="20">钣金喷漆</ion-select-option>
                    <ion-select-option value="30">常规保养</ion-select-option>
                    <ion-select-option value="40">一般维修</ion-select-option>
                    <ion-select-option value="50">保修</ion-select-option>
                    <ion-select-option value="60">其他</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text color="danger">*</ion-text>预约日期
                </ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD HH:mm" min="1997" max="2010" value=""></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text color="danger">*</ion-text>预约时段: <!--{{model.mcname}}-->
                </ion-label>
                <ion-avatar slot="end">
                    <ion-icon color="primary" size="large" name="search" (click)="presentModal()"></ion-icon>
                </ion-avatar>
            </ion-item>
            <ion-item>
                <ion-label>可预约数量</ion-label>
                <ion-note slot="end">10</ion-note>
            </ion-item>
            <ion-item>
                <ion-label position="floating">客户要求</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label position="floating">问题描述</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>
        </ion-item-group>
        <ion-button expand="block" type="button" (click)="save()">确定</ion-button>
    </ion-list>
</ion-content>