

.ion-color-grred {
    --ion-color-base: #10dc60;
    --ion-color-base-rgb: 16, 220, 96;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #0ec254;
    --ion-color-tint: #28e070;
    /*--handle-background-checked: #ff0000;
    --handle-background: #ff0000;
    --background: #ff0000;*/
    /*;*/
    /*--handle-background: #ff0000;*/
    /*--handle-background-checked: #ff0000;*/
    --background: #ff0000;
    --background-checked: #ff0000;
}
