ion-content {
    ion-list {
        ion-item {
            ion-label {
                /*h2 {
                    float: left;
                }*/

                /*span {
                    float: right;
                }*/

                /*div {
                    p {
                        padding-left: 5px;
                        font-size: 15px;
                    }
                }*/
            }
        }
    }
}
