<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>技术支持</ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
      <ion-segment>
          <ion-segment-button checked>
              <ion-label>全部</ion-label>
          </ion-segment-button>
          <ion-segment-button>
              <ion-label>处理中</ion-label>
          </ion-segment-button>
          <ion-segment-button>
              <ion-label>已完成</ion-label>
          </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="list_content" *ngIf="!flag">
            
  
    </div> -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
            </ion-refresher-content> 
            </ion-refresher>
   
<ion-list lines="full">
    <ion-item-divider>
        <ion-label>
            2019-10
        </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let item of dataList" [routerLink]="['/serving/ts/detail']" [queryParams]="{id:item.id}">
        <ion-icon slot="start" color="primary" name="hammer" size="large"></ion-icon>
        <ion-label>
            <h2>{{item.mcs_name}}</h2>
            <p>施工项目：{{item.mcs_name}}</p>
            <p>施工日期：{{FormatToDateTime(mcs_repairdate)}}</p>
            <p *ngIf="item.mcs_orderstatus==10">施工状态：未处理</p>
            <p *ngIf="item.mcs_orderstatus==30">施工状态：处理中</p>
            <p *ngIf="item.mcs_orderstatus==40">施工状态：已关闭</p>
            <p *ngIf="item.mcs_orderstatus==50">施工状态：已取消</p>
        </ion-label>
    </ion-item>
    <ion-item-divider></ion-item-divider>
</ion-list>
<ion-infinite-scroll #myInfiniteScroll threshold="100px"(ionInfinite)="doLoading($event)"> 
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多..."> 
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
<!-- <ion-infinite-scroll *ngIf="hasInfiniteData" threshold="100px" (ionInfinite)="getList($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="努力加载中...">
    </ion-infinite-scroll-content> -->
<!-- </ion-infinite-scroll> -->
</ion-content>
