<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-label>维保预约日历</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ListItem [arrow]="'horizontal'" (onClick)="onClick_3()">
        {{ this.state.en ? 'Select Date' : '选择预约日期' }}
      </ListItem>
      <div class="am-demo-page">
        <Calendar [(ngModel)]="this.state.date" [locale]="'zhCN'" [enterDirection]="this.state.enterDirection"
          [visible]="true" [getDateExtra]="this.state.getDateExtra" [defaultDate]="this.state.now"
          [minDate]="this.state.minDate" [maxDate]="this.state.maxDate" [pickTime]="this.state.pickTime"
          [type]="this.state.type" [rowSize]="this.state.rowSize" [showShortcut]="this.state.showShortcut"
          [infinite]="this.state.infinite" [defaultValue]="this.state.defaultValue" [onSelect]="this.state.onSelect"
          (onCancel)="triggerCancel()" (onConfirm)="triggerConfirm($event)"></Calendar>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item-group>
          <ion-item-divider color="primary">
            <ion-label>预约记录</ion-label>
          </ion-item-divider> 
          <ion-item *ngFor="let item of model.data"> 
              <ion-icon name="calendar" size="small"  style="margin-right: 20px;"></ion-icon> 
              <ion-label > 
                  <h2>{{item.appointment}}</h2> 
              </ion-label>
              <ion-note slot="end" style="width:40%" >
                  <h2>{{item.customername}}</h2>
                  <h2>{{item.carplate}}</h2>
              </ion-note>
          </ion-item>
        </ion-item-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>