

/*ion-list {
    ion-item-divider {
        ion-label {
            font-size: 14px;
        }
    }

    ion-label:first-of-type {
        margin-left: 0.6em;

        h2 {
            margin-left: 0em;
            font-size: 0.5em;
        }

        p {
            font-size: 0.3em;
        }
    }

    ion-label:last-child {
        font-size: 0.5em;
        text-align: right;
    }
}*/
