<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/home/mywork"></ion-back-button>
        </ion-buttons>
        <ion-title>服务委托书</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar animated [(ngModel)]="mod.searchData.search" placeholder="请输入单号\姓名\车牌号搜索" (keyup)="searchOnKeyup($event)"></ion-searchbar>
        <!--<ion-button color="primary" slot="end" size="small">
            搜索
        </ion-button>-->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <div *ngFor="let key of objectKeys(mod.data)">
            <ion-item-divider color="primary">
                <ion-label>
                    {{mod.data[key].text}}
                </ion-label>
            </ion-item-divider>
            <ion-item-sliding *ngFor="let item of mod.data[key].data;let key=index">
                <ion-item [routerLink]="['/serving/sc/detail']" [queryParams]="{id:item.Id}">
                    <ion-label>
                        <p>{{item.carplate}}</p>
                        <p>{{item.customername}}</p>
                        <p>{{item.createdon}}</p>
                    </ion-label>
                    <ion-note slot="end">
                        {{item.name}}
                    </ion-note>
                </ion-item>
            </ion-item-sliding>
        </div>
    </ion-list>

    <!--<ion-card *ngFor="let key of objectKeys(mod.data)">
        <ion-card-header>
            <ion-card-title>
                {{mod.data[key].text}}
            </ion-card-title>
        </ion-card-header>
        <ion-list lines="full">
            <ion-item-sliding *ngFor="let item of mod.data[key].data;let key=index">
                <ion-item [routerLink]="['/serving/sc/detail']" [queryParams]="{id:item.Id}">
                    <ion-label>
                        <p>{{item.carplate}}</p>
                        <p>{{item.customername}}</p>
                        <p>{{item.createdon}}</p>
                    </ion-label>
                    <ion-note slot="end">
                        {{item.name}}
                    </ion-note>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
        <br />
    </ion-card>-->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="danger" [routerLink]="['/serving/sc/edit']"><ion-icon name="add"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
