<ion-header>
  <ion-toolbar>
    <ion-title>选择门店</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" size="large" (click)="dismissModal()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated [(ngModel)]="model.paramets.name" placeholder="搜索经销商"
      (keyup)="searchOnKeyup($event)"></ion-searchbar>
    <ion-note slot="end">
      <ion-chip (click)="provinceOnClick()">
        <ion-label>{{model.info.provincename}}</ion-label>
      </ion-chip>
    </ion-note>
    <ion-note slot="end">
      <ion-chip (click)="cityOnClick()">
        <ion-label>{{model.info.cityname}}</ion-label>
      </ion-chip>
    </ion-note>
  </ion-toolbar>
  <ion-toolbar>
    <ion-item-group>
      <ion-item-divider primary>
        <ion-note slot="end">
          <ion-chip color="primary" (click)="mapModalClick()"> 
            <ion-label style="margin: 10px;">地 图</ion-label>
          </ion-chip>
        </ion-note>
      </ion-item-divider>
    </ion-item-group>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of model.dealers;let key=index">
      <ion-label style="line-height:50px">
        <h2>{{item.name}}</h2>
        <p>{{item.mcs_address}} </p>
        <p>营业时间：10:00-22:00(工作日)</p>
        <p>联系电话:{{item.mcs_phone}}</p>
      </ion-label>
      <ion-note slot="end">
        <ion-chip>
          <ion-label (click)="itemClick(item)">确认选择</ion-label>
        </ion-chip>
      </ion-note>
    </ion-item> 
  </ion-list>
</ion-content>