<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-top: 3px;">
      <ion-back-button text="返回" defaultHref="/tabs/servicecenter"></ion-back-button>
    </ion-buttons>
    <ion-title>我的试乘试驾</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
      refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list lines="full" class="messagelist">
    <div class="panel" *ngFor="let item of model.datalist ">
      <div class="panelheard">
        <ion-label class="noteleft">{{item.mcs_dealerid}}&nbsp;</ion-label>
        <ion-label class="noteright">{{item.mcs_drivestatus}}&nbsp;</ion-label>
      </div>
      <div class="panelcontent">
        <div class="img">
          <img src="./assets/img/goods-list.jpg" />
        </div>
        <div class="detail">
          <p>预约单号：<ion-note>{{item.mcs_name}}&nbsp;</ion-note>
          </p>
          <p>服务类型：<ion-note>{{item.mcs_businesstype}}&nbsp;</ion-note>
          </p>
          <p>预约车型：<ion-note>{{item.mcs_carmodel}}&nbsp;</ion-note>
          </p>
          <p>预约时间：<ion-note>{{FormatToDate(item.mcs_ordertime)}}&nbsp;</ion-note>
          </p>
          <p>预约时间段：<ion-note>{{item.mcs_testdrivetime}}&nbsp;</ion-note>
          </p>
          <p>申请时间：<ion-note>{{FormatToDate(item.createdon)}}&nbsp;</ion-note>
          </p>
        </div>
      </div>
      <div class="panelbutton">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6" *ngIf="item.mcs_drivestatus=='已提交'|| item.mcs_drivestatus== '已预约'">
              <ion-button Size="small" fill="solid" color="light" [routerLink]="['/personalcenter/testdrive/edit']"
                [queryParams]="{id:item.mcs_driverecordid}">
                修改订单
              </ion-button>
            </ion-col>
            <ion-col size="6" *ngIf="item.mcs_drivestatus=='试驾结束'">
              <ion-button Size="small" fill="solid" color="light"
                [routerLink]="['/personalcenter/testdriveFeedback/detail']" [queryParams]="{id:item.mcs_driverecordid}">
                查看反馈
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-list>

  <ion-label *ngIf="model.isending" text-center>
    <p>
      没有更多的记录显示啦
    </p>
  </ion-label>

  <ion-infinite-scroll #myInfiniteScroll threshold="100px" (ionInfinite)="doLoading($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>