<ion-header>
    <app-tophead topHeadTitle="车况" topHeadBackUrl="/personalcenter/mycar/index"></app-tophead>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="dm-car-plane">
                <div class="dm-car-plane-content">
                    <ion-grid>
                        <ion-row>
                            <ion-col class="dm-car-plane-content-info1">
                                <div class="dm-car-plane-content-info1-content">
                                    <label>237km</label>
                                    <span>可续航里程</span>
                                </div>
                            </ion-col>
                            <ion-col class="dm-car-plane-content-info2">
                                <div class="dm-car-plane-content-info2-content">
                                    <label>电量(47%)</label>
                                    <div class="dm-car-plane-progress">
                                        <div style="width:47%">&nbsp;</div>
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row class="dm-car-plane-content-info3">
                            <ion-col>
                                <label>总里程</label>
                                <span>210013km</span>
                            </ion-col>
                            <ion-col>
                                <label>平均电耗</label>
                                <span>100kwh</span>
                            </ion-col>
                            <ion-col>
                                <label>平均速度</label>
                                <span>43km/h</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="dm-car-plane">
                <div class="dm-car-plane-content">
                    <div class="dm-car-plane-info4">
                        <div class="dm-car-plane-tyimg">
                            <img src="../../../../../assets/img/personalcenter/mycar/index/ty.png" />
                        </div>
                        <label class="label_1">2.1bar</label>
                        <label class="label_2">2.0bar</label>
                        <label class="label_3">2.2bar</label>
                        <label class="label_4">2.3bar</label>
                    </div>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
