.logo {
    margin: 6em auto 5em auto;
}

ion-list {
    padding: 0em 2em 1em 2em;
}

.error-message {
    color: red;
    margin: 0em 2em 0em 8em;
    font-size: 12px;
}

.login {
    margin: 4em 11em 0.5em 11em;
}

.register {
    margin: 1em 11em 0.5em 11em;
}