<ion-header>
    <ion-toolbar style="height:45px;">
        <ion-buttons slot="start" style="margin-top: 3px;">
            <ion-back-button text="返回" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{model.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <img style="width:100%;height:13.75em;" src="{{model.datas.smallbooking.imgurl}}" />
        </ion-row>
        <ion-row class="confirm-section confirm-carTypeSection">
            <div class="confirm-content">
                <div class="confirm-block-title is-flex">
                    <h5>预订车型</h5>
                </div>
                <div class="confirm-shadowbox">
                    <strong>{{model.datas.smallbooking.smallbookname}}</strong>
                </div>
                <div class="confirm-block-title is-flex">
                    <h5>预订人信息</h5>
                    <!--<span class="modify">修改</span>-->
                </div>
                <div class="confirm-shadowbox">
                    <div class="user-info">
                        <label>姓名：</label> {{model.datas.request.FullName}} {{model.datas.request.Gender == 0 ? "先生" : "女士"}}
                    </div>
                    <div class="user-info">
                        <label>上牌城市：</label> {{model.datas.request.CityOnCard}}
                    </div>
                    <div class="user-info">
                        <label>联系方式：</label> {{model.datas.request.MobilePhone}}
                    </div>
                </div>
            </div>
        </ion-row>
        <ion-row class="confirm-section">
            <div class="confirm-content">
                <div class="confirm-block-title is-flex">
                    <h5>权益一：预订专属豪礼</h5>
                    <!--<span class="modify">修改</span>-->
                </div>
                <div class="confirm-package-radio" *ngFor="let item of model.checkedequitypackage ">
                    <input type="checkbox" name="preorderPackageOne-readonly" id="{{item.EquityPackageInfo.mcs_equitypackageid}}" disabled="disabled" class="readonly" value="{{item.EquityPackageInfo.mcs_code}}">
                    <label for="{{item.EquityPackageInfo.mcs_equitypackageid}}" class="confirm-package-radio-label is-text-bold">
                        <!--3,000元订金即享<strong>“无忧优享”</strong><strong>权益礼包</strong>-->
                        {{item.EquityPackageInfo.mcs_name}}
                    </label>
                    <ul class="confirm-package-radio-rights">
                        <ng-container *ngFor="let i of item.EquityArray">
                            <div *ngIf="i.mcs_description; then tTemplate else fTemplate"></div>
                            <ng-template #tTemplate>
                                <li class="is-highlight has-description">
                                    <div class="is-inline-block">{{i.mcs_name}}</div>
                                    <input type="checkbox" id="{{i.mcs_equityid}}{{item.EquityPackageInfo.mcs_code}}">
                                    <label for="{{i.mcs_equityid}}{{item.EquityPackageInfo.mcs_code}}"></label>
                                    <ul class="description">
                                        <li [innerHTML]='i.mcs_description'></li>
                                    </ul>
                                </li>
                            </ng-template>
                            <ng-template #fTemplate>
                                <li class="is-highlight">
                                    <div class="is-inline-block">{{i.mcs_name}}</div>
                                </li>
                            </ng-template>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </ion-row>
        <ion-row class="confirm-section">
            <div class="confirm-content">
                <div class="confirm-block-title is-flex">
                    <h5>权益二：限时优享套件</h5>
                    <!--<span class="modify">修改</span>-->
                </div>
                <div class="confirm-package-checkbox" *ngFor="let item of model.checkedoptional">
                    <input type="checkbox" name="preorderPackageTwo-readonly" disabled="disabled" id="{{item.OptionalInfo.mcs_optionalid}}" class="readonly" value="{{item.OptionalInfo.mcs_code}}">
                    <label for="{{item.OptionalInfo.mcs_optionalid}}" class="confirm-package-checkbox-content">
                        <section class="columns is-gapless is-mobile package-intro">
                            <div class="package-image column is-3"><img src="https://ceo-oss.oss-cn-hangzhou.aliyuncs.com/{{item.OptionalImageArray[0].mcs_imagename}}" alt=""></div>
                            <div class="column is-9 has-text-left" style="padding-left: 15px !important;">
                                <div class="package-intro-title is-text-bold">{{item.OptionalInfo.mcs_name}}</div>
                                <div class="package-intro-subtitle" [innerHTML]='item.OptionalInfo.mcs_description'></div><!---->
                            </div>
                        </section>
                        <section class="confirm-package-price has-text-left">
                            <div class="is-inline-block promotion-price">
                                限时价：<strong>{{item.OptionalInfo.mcs_limitedtimeprice}}元</strong>
                            </div><div class="is-inline-block origin-price">
                                原价：<s>{{item.OptionalInfo.mcs_originalprice}} 元</s>
                            </div>
                        </section>
                    </label>
                </div>
            </div>
        </ion-row>
        <ion-row class="confirm-section">
            <div class="confirm-content">
                <!--<div class="confirm-agreement">
                <input type="checkbox" id="agreement-checkbox" value="true">
                <label for="agreement-checkbox" class="agreement-checkbox-label">
                    我已阅读并同意 <a href="/clause" target="_blank">《赛力斯公司意向书通用条款》</a>
                </label>
            </div>-->
                <div class="confirm-content-event-tip has-text-left">
                    <h5>活动说明：</h5>
                    <p>权益一仅限前500名预订车用户；权益二限订车用户在上市前限时优享。</p>
                    <p>*以上最终解释权归重庆金康赛力斯汽车销售有限公司所有</p>
                </div>
                <p class="confirm-payment-tip">
                    <span class="iconfont iconinformation-solid"></span>
                    在支付前请确认微信或支付宝余额充足，以上预订信息确认支付后不可更改，如需更改可退订后重新下订
                </p>
            </div>
        </ion-row>
        <div>
            <section class="confirm-toolbar is-flex has-shadow is-fullwidth">
                <div class="confirm-info">
                    <div class="confirm-info-price">订金合计：<strong>{{model.datas.request.TotalOrder}} 元</strong></div>
                    <!--<div class="confirm-info-brief is-inline-block">
                    <span>权益详情</span>
                    <span class="iconfont iconarrow-line-down-s is-inline-block"></span>
                </div>-->
                </div>
                <button class="confirm-toolbar-button" (click)="btnSubmit()">立即支付  <!----></button>
            </section>
            <!--<div class="confirm-conf-items">
            <div class="confirm-modal">
                <div class="is-flex confirm-modal-header">
                    <div>权益详情</div>
                    <div class="iconfont iconclose confirm-modal-close"></div>
                </div>
                <div class="confirm-modal-body">
                    <div class="is-flex pkgconfig-item">
                        <div>
                            权益一：<div class="is-inline-block">3,000元订金即享<strong>“无忧优享”</strong><strong>权益礼包</strong></div>
                        </div>
                        <div class="confirm-conf-items-price"><strong>3,000 元</strong></div>
                    </div>
                    <div class="pkgconfig-item">
                        <div class="pkg-title">权益二：限时优享套件</div>
                        <div class="is-flex">
                            <div>
                                <div class="is-inline-block">个性魅影套装</div>
                            </div>
                            <div class="confirm-conf-items-price"><strong>2,000 元</strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="confirm-modal-background" style="display: none;"></div>
        </div>-->
        </div>
        <!--<div>
            <div class="preorder-modal show">
                <div class="is-flex preorder-modal-header">
                <div>修改预订人信息</div>
                <div class="iconfont iconclose preorder-modal-close"></div>
                    </div>
            <div class="preorder-modal-body">
                    <section data-v-00de53e1="" class="form-container">
                        <section data-v-00de53e1="" class="columns is-centered">
                            <section data-v-00de53e1="" class="column">
                                <div data-v-00de53e1="" class="field">
                                <div data-v-00de53e1="" class="control is-clearfix">
                                    <input type="text" autocomplete="on" disabled="disabled" class="input"> 
                                    </div> 
                                    </div>
                                <div data-v-00de53e1="" class="field">
                                <div data-v-00de53e1="" class="control is-clearfix">
                                    <input type="text" autocomplete="on" placeholder="请输入您姓名" data-vv-name="fullName" class="input"> 
                                    </div> 
                                    </div>
                                <div data-v-00de53e1="" class="field">
                                <div data-v-00de53e1="" class="block gender-section">
                                    <div data-v-00de53e1="" class="label-radio active">
                                    <input data-v-00de53e1="" type="radio" name="gender" value="1" id="gender-gentleman">
                                    <label data-v-00de53e1="" for="gender-gentleman">先生</label>
                                        </div>
                                    <div data-v-00de53e1="" class="label-radio">
                                    <input data-v-00de53e1="" type="radio" name="gender" value="2" id="gender-lady">
                                    <label data-v-00de53e1="" for="gender-lady">女士</label>
                                        </div>
                                    </div> 
                                    </div>
                                <div data-v-00de53e1="" class="field">
                                    <div data-v-00de53e1="" class="control is-clearfix">
                                        <input type="text" autocomplete="on" maxlength="30" placeholder="请输入您的手机号" data-vv-name="mobilePhone" class="input"> 
                                        <small class="help counter is-invisible">
                                            11 / 30
                                        </small>
                                    </div> 
                                </div><div data-v-00de53e1="" class="region">
                                <div data-v-00de53e1="" class="field"> 
                                <div data-v-00de53e1="" class="region-inner">
                                    <div data-v-00de53e1="" class="control item province is-expanded">
                                    <span class="select is-fullwidth">
                                        <select data-vv-name="provinceCode">
                                            </select>
                                        </span> 
                                        </div>
                                    </div> 
                                    </div>
                                    </div>
                                <div data-v-00de53e1="" class="field buttons-section">
                                    <div data-v-00de53e1="" class="buttons control">
                                        <button data-v-00de53e1="" class="button is-block btn-normal">
                                            取消
                                        </button><button data-v-00de53e1="" class="button is-block btn-normal btn-save">
                                            确认修改 
                                        </button>
                                    </div>
                                </div>
                            </section>
                        </section>
                    </section>
                </div>
            </div>
            <div class="preorder-modal-background" style=""></div>
        </div>-->
    </ion-grid>
</ion-content>
