<ion-header>
    <ion-toolbar style="height:45px;">
        <ion-buttons slot="start" style="margin-top: 3px;">
            <ion-back-button text="返回" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{model.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <img src="http://sf-test.mediaman.com.cn/img/preview-mobile.9a652206.jpg" />
        </ion-row>
        <ion-row class="confirm-section confirm-carTypeSection">
            <div class="confirm-content">
                <div class="confirm-block-title is-flex">
                    <h5>预订车型</h5>
                </div>
                <div class="confirm-shadowbox">
                    <strong>SERES SF5 EVR 增程</strong>
                </div>
                <div class="confirm-block-title is-flex">
                    <h5>预订人信息</h5>
                    <span class="modify">修改</span>
                </div>
                <div class="confirm-shadowbox">
                    <div class="user-info">
                        <label>姓名：</label> 大幅度发 先生
                    </div>
                    <div class="user-info">
                        <label>上牌城市：</label> 长沙市
                    </div>
                    <div class="user-info">
                        <label>联系方式：</label> 13648436081
                    </div>
                </div>
            </div>
        </ion-row>
        <ion-row class="confirm-section">
            <div class="confirm-content">
                <div class="confirm-block-title is-flex">
                    <h5>权益一：预订专属豪礼</h5>
                    <span class="modify">修改</span>
                </div>
                <div class="confirm-package-radio">
                    <input type="checkbox" name="preorderPackageOne-readonly" id="preorderPackageOne-readonly-p1-1" disabled="disabled" class="readonly" value="p1-1">
                    <label for="preorderPackageOne-readonly-p1-1" class="confirm-package-radio-label is-text-bold">
                        3,000元订金即享<strong>“无忧优享”</strong><strong>权益礼包</strong>
                    </label>
                    <ul class="confirm-package-radio-rights">
                        <li class="">
                            <div class="is-inline-block">抵扣3,000元车款</div><!----><!----><!----><!---->
                        </li>
                        <li class="">
                            <div class="is-inline-block">赠送充电桩并安装</div><!----><!----><!----><!---->
                        </li>
                        <li class="is-highlight">
                            <div class="is-inline-block">个性签名版+VIP徽章<span>（原价 2,000 元）</span></div><!----><!----><!----><!---->
                        </li>
                        <li class="is-highlight">
                            <div class="is-inline-block">赠送品牌高端车模（前200位）<span>（原价 1,000 元）</span></div><!----><!----><!----><!---->
                        </li>
                        <li class="is-highlight">
                            <div class="is-inline-block">流量终身免费</div><!----><!----><!----><!---->
                        </li>
                        <li class="is-highlight">
                            <div class="is-inline-block">7年或15万公里整车质保</div><!----><!----><!----><!---->
                        </li>
                        <li class="is-highlight">
                            <div class="is-inline-block">动力电芯终身质保</div><!----><!----><!----><!---->
                        </li>
                        <li class="is-highlight has-description">
                            <div class="is-inline-block">终身紧急道路救援 <span>（原价 3,000 元）</span></div><!---->
                            <input type="checkbox" id="description-toggle-preorderPackageOne-readonly-p1-1-7">
                            <label for="description-toggle-preorderPackageOne-readonly-p1-1-7"></label>
                            <ul class="description">
                                <li>拖车服务（50公里内）</li>
                                <li>现场快修服务</li>
                                <li>轮胎更换服务（如有备胎）</li>
                                <li>困境救援服务</li>
                            </ul>
                        </li>
                        <li class="is-highlight has-description">
                            <div class="is-inline-block">特惠金融（厂方金融免息5,000元）</div><!---->
                            <input type="checkbox" id="description-toggle-preorderPackageOne-readonly-p1-1-8">
                            <label for="description-toggle-preorderPackageOne-readonly-p1-1-8"></label>
                            <ul class="description">
                                <li>0利息</li>
                                <li>0首付</li>
                                <li>弹性贷，最低首付20%</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-row>
        <ion-row class="confirm-section">
            <div class="confirm-content">
                <div class="confirm-block-title is-flex">
                    <h5>权益二：限时优享套件</h5>
                    <span class="modify">修改</span>
                </div>
                <div class="confirm-package-checkbox">
                    <input type="checkbox" name="preorderPackageTwo-readonly" disabled="disabled" id="preorderPackageTwo-readonly-p2-2" class="readonly" value="p2-2">
                    <label for="preorderPackageTwo-readonly-p2-2" class="confirm-package-checkbox-content">
                        <section class="columns is-gapless is-mobile package-intro">
                            <div class="package-image column is-3"><img src="http://sf-test.mediaman.com.cn/img/exterior.73becbac.png" alt=""></div>
                            <div class="column is-9 has-text-left" style="padding-left: 15px !important;">
                                <div class="package-intro-title is-text-bold">个性魅影套装</div>
                                <div class="package-intro-subtitle">“熔岩橙”品牌车漆</div><!---->
                            </div>
                        </section>
                        <section class="confirm-package-price has-text-left">
                            <div class="is-inline-block promotion-price">
                                限时价：<strong>2,000 元</strong>
                            </div><div class="is-inline-block origin-price">
                                原价：<s>10,000 元</s>
                            </div>
                        </section>
                    </label>
                </div>
            </div>
        </ion-row>
        <ion-row class="confirm-section">
            <div class="confirm-content">
                <div class="confirm-agreement">
                    <input type="checkbox" id="agreement-checkbox" value="true">
                    <label for="agreement-checkbox" class="agreement-checkbox-label">
                        我已阅读并同意 <a href="/clause" target="_blank">《赛力斯公司意向书通用条款》</a>
                    </label>
                </div>
                <div class="confirm-content-event-tip has-text-left">
                    <h5>活动说明：</h5>
                    <p>权益一仅限前500名预订车用户；权益二限订车用户在上市前限时优享。</p>
                    <p>*以上最终解释权归重庆金康赛力斯汽车销售有限公司所有</p>
                </div>
                <p class="confirm-payment-tip">
                    <span class="iconfont iconinformation-solid"></span>
                    在支付前请确认微信或支付宝余额充足，以上预订信息确认支付后不可更改，如需更改可退订后重新下订
                </p>
            </div>
        </ion-row>
        <div>
            <section class="confirm-toolbar is-flex has-shadow is-fullwidth">
                <div class="confirm-info">
                    <div class="confirm-info-price">订金合计：<strong>5,000 元</strong></div>
                    <div class="confirm-info-brief is-inline-block">
                        <span>权益详情</span>
                        <span class="iconfont iconarrow-line-down-s is-inline-block"></span>
                    </div>
                </div>
                <button class="confirm-toolbar-button is-disabled" disabled="disabled" [routerLink]="['/carreserve/payorder/payment']">立即支付  <!----></button>
            </section>
            <div class="confirm-conf-items">
                <div class="confirm-modal">
                    <div class="is-flex confirm-modal-header">
                        <div>权益详情<!----></div>
                        <div class="iconfont iconclose confirm-modal-close"></div><!---->
                    </div>
                    <div class="confirm-modal-body">
                        <div class="is-flex pkgconfig-item">
                            <div>
                                权益一：<div class="is-inline-block">3,000元订金即享<strong>“无忧优享”</strong><strong>权益礼包</strong></div>
                            </div>
                            <div class="confirm-conf-items-price"><strong>3,000 元</strong></div>
                        </div>
                        <div class="pkgconfig-item">
                            <div class="pkg-title">权益二：限时优享套件</div>
                            <div class="is-flex">
                                <div>
                                    <div class="is-inline-block">个性魅影套装</div>
                                </div>
                                <div class="confirm-conf-items-price"><strong>2,000 元</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="confirm-modal-background" style="display: none;"></div>
            </div>
        </div>
    </ion-grid>
</ion-content>
