<ion-header>
  <ion-toolbar>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content> 
        <div class="am-demo-page"> 
            <Calendar
              [(ngModel)]="this.state.date"
              [locale]="'zhCN'"
              [enterDirection]="this.state.enterDirection"
              [visible]="true"
              [getDateExtra]="this.state.getDateExtra"
              [defaultDate]="this.state.now"
              [minDate]="this.state.minDate"
              [maxDate]="this.state.maxDate"
              [pickTime]="this.state.pickTime"
              [type]="this.state.type"
              [rowSize]="this.state.rowSize"
              [showShortcut]="this.state.showShortcut"
              [infinite]="this.state.infinite"
              [defaultValue]="this.state.defaultValue"
              [onSelect]="this.state.onSelect"
              (onCancel)="triggerCancel()"
              (onConfirm)="triggerConfirm($event)"
            ></Calendar>
          </div>
    </ion-card-content>
  </ion-card>
</ion-content>