<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col class="dm-top-img">
                <div>
                    <img src="http://sf-test.mediaman.com.cn//img/sf-calc-hero-mobile.f1395f62.jpg" alt="">
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar class="dm-footer">
        <ion-button color="org" expand="block" shape="round" [routerLink]="['/carcenter/carstore/selectattr']">确认</ion-button>
    </ion-toolbar>
</ion-footer>