.cardcontent{
    margin: unset;
    padding-top: 15px;

    ion-card-title{
        font-size: 15px;
    } 
}

.cardcontent ion-card-header{
    padding-top: 0px;
}

.option{
    display:flex;
}

.messagelist {
    width: 100%;
    // float: left;
    position: relative;
    margin-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.messagelist .panel{
    padding: 0px !important;
    background-color: #EDEDED;
    height: 240px;
}

.messagelist .panel .panelheard{
    padding: 7px;
    height: 45px;
    border-bottom: 1px solid #dedede !important;
}

.messagelist .panel .panelheard .noteleft{
    float: left;
    padding: 5px;;
}

.messagelist .panel .panelheard .noteright{
    float: right;
    padding: 5px;;
}

.panelcontent{
    clear: both;
}

.panelcontent .img{
    float: left;
    width: 24%;
    padding: 10px;
}

.panelcontent .detail{
    float: left;
    width: 76%;
}

.panelbutton{
    clear: both;
}

.panelbutton ion-row{
    float: right;
}

