<ion-header class="dm-top-head">

</ion-header>

<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col class="dm-top-img">
                <div>
                    <img src="http://sf-test.mediaman.com.cn/img/sf-5-orange-tire1.7b037424.png" alt="">
                    <span [routerLink]="['/carcenter/carstore/index']">重新配置&nbsp;<ion-icon name="refresh"></ion-icon></span>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="dm-title">
                SF5两驱智尊型
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="dm-list">
                <ion-grid>
                    <ion-row class="dm-list-title">
                        <ion-col>
                            <h5>基础选配</h5>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-grid class="dm-list-grid">
                                <ion-row class="dm-list-item">
                                    <ion-col size="8">
                                        <div class="dm-list-itme-img" style="background-image: linear-gradient(135deg, rgb(245, 250, 255) 0%, rgb(215, 222, 232) 100%), linear-gradient(rgb(82, 115, 162), rgb(82, 115, 162));">&nbsp;</div>

                                        <div>
                                            <label>珍珠白品牌车漆</label>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <div>
                                            <h5>价格已包含</h5>
                                            <p>修改</p>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dm-list-item">
                                    <ion-col size="8">
                                        <div class="dm-list-itme-img"><img style="width:100%;height:100%" src="http://sf-test.mediaman.com.cn/img/tire-1.d21d83df.png" /></div>
                                        <div>
                                            <label>21英寸性能型</label>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <div>
                                            <h5>2000元</h5>
                                            <p>修改</p>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dm-list-item">
                                    <ion-col size="8">
                                        <div class="dm-list-itme-img" style="background-image: linear-gradient(rgb(74, 72, 72) 50%, rgb(56, 55, 55) 50%, rgb(38, 38, 38) 100%);">&nbsp;</div>
                                        <div>
                                            <label>21经典黑</label>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <div>
                                            <h5>价格已包含</h5>
                                            <p>修改</p>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="dm-list">
                <ion-grid>
                    <ion-row class="dm-list-title">
                        <ion-col>
                            <h5>个性化选配</h5>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-grid class="dm-list-grid">
                                <ion-row class="dm-list-item">
                                    <ion-col size="8">
                                        <div class="dm-list-itme-img square"><img style="width:100%;height:100%" src="http://sf-test.mediaman.com.cn/img/order-package-1.6dab6118.jpg" /></div>
                                        <div>
                                            <label>无级变色全景天幕</label>
                                            <p>查看详情</p>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <div>
                                            <h5>价格已包含</h5>
                                            <p>修改</p>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row class="dm-list-item">
                                    <ion-col size="8">
                                        <div class="dm-list-itme-img square"><img style="width:100%;height:100%" src="http://sf-test.mediaman.com.cn/img/order-package-1.6dab6118.jpg" /></div>
                                        <div>
                                            <label>20寸时尚经典</label>
                                            <p>查看详情</p>
                                        </div>
                                    </ion-col>
                                    <ion-col>
                                        <div>
                                            <h5>价格已包含</h5>
                                            <p>修改</p>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>

        <ion-row class="dm-info">
            <ion-col>
                <p>
                    <i>*</i>请核对您的爱车配置选项，支付完成后将会形成正式订单，预定完成7天内您任然可以更改您的配置选项
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>



<ion-footer>
    <ion-toolbar class="dm-footer">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h6>合计：<strong>150,000 元</strong></h6>
                    <span class="dm-footer-svg">
                        查看明细
                        <span>
                            <svg t="1575275973323" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2605" width="14" height="14"><path d="M507.58399999 736.064a32.896 32.896 0 0 1-23.35999999-9.664L110.912 353.088a33.024 33.024 0 0 1 46.72-46.656l373.312 373.248a33.024 33.024 0 0 1-23.36000001 56.384" fill="#d81e06" p-id="2606"></path><path d="M507.58399999 736.064a32.896 32.896 0 0 1-23.35999999-56.32l382.144-382.08a33.024 33.024 0 0 1 46.656 46.656l-382.016 382.08a33.152 33.152 0 0 1-23.42400001 9.664" fill="RGB(240,110,35)" p-id="2607"></path></svg>
                        </span>
                    </span>

                </ion-col>
                <ion-col>
                    <ion-button color="org" expand="block" shape="round" [routerLink]="['/carcenter/carstore/selectitem']">完善预订信息</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>

<div class="dm-footer-model">
    <div>
        <ul>
            <li>
                <label>SF5两驱智尊型</label>:
                <span>150,000元</span>
            </li>
            <li>
                <label>珍珠白</label>:
                <span>价格已包含</span>
            </li>
            <li>
                <label>深黑内饰</label>:
                <span>价格已包含</span>
            </li>
            <li>
                <label>20英寸时尚型铝合金轮毂</label>:
                <span>价格已包含</span>
            </li>
        </ul>
    </div>
</div>