<ion-item lines="none">
  <ion-label style="margin-top: 20px;">
    <img src="../assets/img/close.png" style="width: 20px;" (click)="dismissModal()">
  </ion-label>
</ion-item>

<!-- 电话号码输入页面 -->
<ion-content *ngIf="disstatus==1">
  <ion-card-header style="margin-bottom: 50px;">
    <ion-card-title style="height: 50px;"> 您好，</ion-card-title>
    <ion-card-subtitle class="loginsubtitle"> 欢迎来到车联网DEMO</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input type="phone" placeholder="输入您的电话号码" [(ngModel)]="model.phone"></ion-input>
    </ion-item>
    <ion-item lines="none" class="loginfontsize09" *ngIf="valmsg">
      <ion-label color="danger">
        验证信息
      </ion-label>
    </ion-item>

  </ion-card-content>
  <div class="ion-padding loginx" *ngIf="disstatus !=3">
    <ion-label>
      获取验证码视为您已阅读  
      <ion-router-link href="#" class="underline ios ion-activatable hydrated">《用户协议》</ion-router-link>
      与
      <ion-router-link href="#" class="underline ios ion-activatable hydrated">《隐私协议》</ion-router-link>
    </ion-label>
  </div>
  <div class="ion-padding">
    <ion-button expand="block" type="button" (click)="onSendMsg()"
      class="ion-no-margin ios button button-block button-solid ion-activatable ion-focusable hydrated">
      获取验证码
    </ion-button>
  </div>
</ion-content>


<!-- 验证码输入页面 -->
<ion-content *ngIf="disstatus==2">
  <ion-card-header style="margin-bottom: 50px;">
    <ion-card-title style="height: 50px;"> 期待您的加入</ion-card-title>
    <ion-card-subtitle class="loginsubtitle"> 您的加入使DEMO更加精彩</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-item lines="none" class="loginfontsize09">
      <ion-label>
        已发送验证码至 {{model.phone}}
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <input type="number" class="loginvalinput" [(ngModel)]="model.val1" id="inputcode1" (focus)="model.val1=''"
            (ngModelChange)="OnVlaCodeChange($event,2)" />
        </ion-col>
        <ion-col>
          <input type="number" class="loginvalinput" [(ngModel)]="model.val2" id="inputcode2" (focus)="model.val2=''"
            (ngModelChange)="OnVlaCodeChange($event,3)" />
        </ion-col>
        <ion-col>
          <input type="number" class="loginvalinput" [(ngModel)]="model.val3" id="inputcode3" (focus)="model.val3=''"
            (ngModelChange)="OnVlaCodeChange($event,4)" />
        </ion-col>
        <ion-col>
          <input type="number" class="loginvalinput" [(ngModel)]="model.val4" id="inputcode4" (focus)="model.val4=''"
            (ngModelChange)="OnVlaCodeChange($event,0)" />
        </ion-col>
      </ion-row>

    </ion-item>

  </ion-card-content>
</ion-content>
<ion-footer class="loginfooter" *ngIf="disstatus!=3">
  <ion-item lines="none" style="text-align:center;    color: #a0a0a0;">
    <ion-label>其它登陆方式</ion-label>
  </ion-item>
  <ion-toolbar>
    <ion-title>
      <img src="../assets/img/wechat.png" style="width: 35px;">
    </ion-title>
  </ion-toolbar>
</ion-footer>



<!-- 昵称输入界面（未注册用户） -->
<ion-content *ngIf="disstatus==3">
  <ion-card-header style="margin-bottom: 50px;">
    <ion-card-title style="height: 50px;"> 输入您的昵称</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input placeholder="昵称" [(ngModel)]="model.name"></ion-input>
    </ion-item>
  </ion-card-content>

  <div class="ion-padding">
    <ion-button expand="block" type="button" (click)="onReg()"
      class="ion-no-margin ios button button-block button-solid ion-activatable ion-focusable hydrated">
      确定
    </ion-button>
  </div>
</ion-content>