<ion-item *ngIf="disstatus!=7" lines="none" style="border-bottom: 1px solid #d6d2d2;">
  <ion-label style="margin-top: 12px">
    <img src="../assets/img/close.png" style="width: 20px;" (click)="onReturn(false)">
    <ion-label style="text-align:center;margin-top:-23px">
      {{title}}
    </ion-label>
  </ion-label>
</ion-item>
<!-- 用户登录页面 -->
<ion-content *ngIf="disstatus==1">
  <ion-card-header style="margin-bottom: 20px;">
    <ion-card-title style="height: 50px;"> 您好，</ion-card-title>
    <ion-card-subtitle class="loginsubtitle"> 欢迎来到车联网DEMO</ion-card-subtitle>
  </ion-card-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="tab" color="primary" model="md">
      <ion-segment-button value="account">
        <ion-label>账号登录</ion-label>
      </ion-segment-button>
      <ion-segment-button value="phone">
        <ion-label>手机号码登录</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'account'">
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="输入您的账号" [(ngModel)]="mod.model.account"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="输入您的密码" [(ngModel)]="mod.model.pwd"></ion-input>
        </ion-item>

      </ion-card-content>
      <div class="ion-padding">
        <ion-button expand="block" type="button" (click)="onLogin()"
          class="ion-no-margin ios button button-block button-solid ion-activatable ion-focusable hydrated">
          登录
        </ion-button>
      </div>
    </div>
    <div *ngSwitchCase="'phone'">
      <ion-card-content>
        <ion-item>
          <ion-input type="tel" maxlength="11" placeholder="输入您的手机号码" [(ngModel)]="mod.model.account"></ion-input>
        </ion-item>

      </ion-card-content>
      <div class="ion-padding">
        <ion-button expand="block" type="button" (click)="onloginSendMsg(2)"
          class="ion-no-margin ios button button-block button-solid ion-activatable ion-focusable hydrated">
          获取验证码
        </ion-button>
      </div>
    </div>
  </div>
  <ion-item lines="none">
    <ion-label style="text-align: left; margin-top: 0px;font-size: 0.9rem;">
      <input type="button" class="logina" (click)="onReg(2)" value="注册" />

    </ion-label>
    <ion-label style="text-align: right; margin-top: 0px;font-size: 0.9rem;">
      <input type="button" class="logina" (click)="OnPwdReset()" value="忘记密码?" />
    </ion-label>
  </ion-item>
</ion-content>


<!-- 注册手机号码页面 -->
<ion-content *ngIf="disstatus==3">
  <ion-card-header style="margin-bottom: 50px;">
    <ion-card-title style="height: 50px;"> 您好，</ion-card-title>
    <ion-card-subtitle class="loginsubtitle"> 欢迎来到车联网DEMO</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-card-content>
      <ion-item>
        <ion-input type="tel" maxlength="11" placeholder="输入您的手机号码" [(ngModel)]="mod.model.account"></ion-input>
      </ion-item>

    </ion-card-content>

    <div class="ion-padding loginx">
      <ion-label>
        获取验证码视为您已阅读
        <input type="button" class="logina" value=" 《用户协议》" />
        与
        <input type="button" class="logina" value="《隐私协议》" />
      </ion-label>
    </div>
    <div class="ion-padding">
      <ion-button expand="block" type="button" (click)="onloginSendMsg(5)"
        class="ion-no-margin ios button button-block button-solid ion-activatable ion-focusable hydrated">
        获取验证码
      </ion-button>
    </div>

  </ion-card-content>
</ion-content>


<!-- 验证码输入页面 -->
<ion-content *ngIf="disstatus==2 || disstatus==5 ">
  <ion-card-header style="margin-bottom: 50px;">
    <ion-card-title style="height: 50px;"> 您好，</ion-card-title>
    <ion-card-subtitle class="loginsubtitle"> 欢迎来到车联网DEMO</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-item lines="none" class="loginfontsize09">
      <ion-label>
        已发送验证码至 {{mod.model.account}}
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-row>
        <ion-col>
          <input type="number" class="loginvalinput" (focus)="OnselectText('#inputcode1')" maxlength="1"
            [(ngModel)]="mod.val1" id="inputcode1" (ngModelChange)="OnNextFocus(2)" />
        </ion-col>
        <ion-col>
          <input type="number" class="loginvalinput" maxlength="1" [(ngModel)]="mod.val2" id="inputcode2"
            (focus)="mod.val2=''" (ngModelChange)="OnNextFocus(3)" (focus)="OnselectText('#inputcode2')" />
        </ion-col>
        <ion-col>
          <input type="number" class="loginvalinput" maxlength="1" [(ngModel)]="mod.val3" id="inputcode3"
            (focus)="mod.val3=''" (ngModelChange)="OnNextFocus(4)" (focus)="OnselectText('#inputcode3')" />
        </ion-col>
        <ion-col>
          <input type="number" class="loginvalinput" maxlength="1" [(ngModel)]="mod.val4" id="inputcode4"
            (ngModelChange)="OnVlaCodeChange()" (focus)="OnselectText('#inputcode4')" />
        </ion-col>
      </ion-row>
    </ion-item>

    <div style="text-align: center"  id="divmsgshow" >
        <label id="lbsendmsg" style="line-height: 70px;font-size:0.8rem;color:#9a9898">90秒重新获取验证码</label>
    </div>
     
 
    <div class="ion-padding" style="display:none"   id="divbtnshow">
      <ion-button expand="block" type="button" (click)="onloginSendMsg()"
        class="ion-no-margin ios button button-block button-solid ion-activatable ion-focusable hydrated">
        重新获取
      </ion-button>
    </div>
  </ion-card-content>
</ion-content>
<ion-footer class="loginfooter" *ngIf="disstatus!=4 && disstatus!=6  && disstatus!=7 && disstatus!=8">
  <ion-item lines="none" style="text-align:center;    color: #a0a0a0;">
    <ion-label>其它登录方式</ion-label>
  </ion-item>
  <ion-toolbar>
    <ion-title>
      <img src="../assets/img/wechat.png" style="width: 35px;">
    </ion-title>
  </ion-toolbar>
</ion-footer>



<!-- 注册内容输入界面（未注册用户） -->
<ion-content *ngIf="disstatus==4">
  <ion-card-content>
    <ion-item style="font-size: 1rem;">
      <ion-row style="width: 100%;">
        <ion-col size="2">
          <ion-label style="line-height: 40px;">昵称</ion-label>
        </ion-col>
        <ion-col size="10">
          <ion-input placeholder="昵称" [(ngModel)]="mod.model.name"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item style="font-size: 1rem;">
      <ion-row style="width: 100%;">
        <ion-col size="2">
          <ion-label style="line-height: 40px;">密码</ion-label>
        </ion-col>
        <ion-col size="10">
          <ion-input type="password" placeholder="密码" [(ngModel)]="mod.model.pwd"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item style="font-size: 1rem;">
      <ion-row style="width: 100%;">
        <ion-col size="2">
          <ion-label style="line-height: 40px;">确认密码</ion-label>
        </ion-col>
        <ion-col size="10">
          <ion-input type="password" placeholder="确认密码" [(ngModel)]="mod.model.pwd1"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card-content>
  <ion-card-header>
    <ion-card-title>安全问题</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item style="font-size: 1rem;">
      <ion-select [(ngModel)]="mod.model.quest1" style="width: 100%;max-width: 100%;" okText="确认" cancelText="取消">
         <ion-select-option *ngFor="let item of  mod.questiondata;let key=index"
          [value]="item['mcs_securityquestionid']">
          {{item['mcs_name']}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item style="font-size: 1rem;">
      <ion-input type="text" [(ngModel)]="mod.model.quest1value" placeholder="回答"></ion-input>
    </ion-item>
    <ion-item style="font-size: 1rem;">
      <ion-select [(ngModel)]="mod.model.quest2" style="width: 100%;max-width: 100%;" okText="确认" cancelText="取消">
        <ion-select-option *ngFor="let item of  mod.questiondata;let key=index"
          [value]="item['mcs_securityquestionid']">
          {{item['mcs_name']}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item style="font-size: 1rem;">
      <ion-input type="text" [(ngModel)]="mod.model.quest2value" placeholder="回答"></ion-input>
    </ion-item>
    <ion-item style="font-size: 1rem;">
      <ion-select [(ngModel)]="mod.model.quest3" style="width: 100%;max-width: 100%;" okText="确认" cancelText="取消">
         <ion-select-option *ngFor="let item of  mod.questiondata;let key=index"
          [value]="item['mcs_securityquestionid']">
          {{item['mcs_name']}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item style="font-size: 1rem;">
      <ion-input type="text" [(ngModel)]="mod.model.quest3value" placeholder="回答"></ion-input>
    </ion-item>
  </ion-card-content>
  <div class="ion-padding">
    <ion-button expand="block" type="button" (click)="onRegPost()"
      class="ion-no-margin ios button button-block button-solid ion-activatable ion-focusable hydrated">
      确定
    </ion-button>
  </div>
</ion-content>



<!-- 忘记密码输入界面 -->
<ion-content *ngIf="disstatus==6 || disstatus==8">
  <ion-card-header style="margin-bottom: 10%">
    <ion-card-title style="height: 50px;"> {{title}}，</ion-card-title>
    <ion-card-subtitle class="loginsubtitle"> 验证码发送到您的手机，请输入验证码并创建新密码</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content style="padding-left: 0px;">
    <ion-item style="font-size: 1rem;">
      <ion-row style="width: 100%;">
        <ion-col size="2">
          <img src="../../../../assets/img/phone.png" class="pwdlogo">
        </ion-col>
        <ion-col size="10">
          <ion-input type="tel" id="inputphone" disabled={{inputphonedisabled}} maxlength="11" placeholder="手机号码" [(ngModel)]="mod.model.account"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item style="font-size: 1rem;">
      <ion-row style="width: 100%;">
        <ion-col size="2">
          <img src="../../../../assets/img/mes.png" class="pwdlogo">
        </ion-col>
        <ion-col size="6">
          <ion-input type="text" placeholder="短信验证码" [(ngModel)]="mod.model.msg"></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" style="height: 40px;font-size: 1rem;" color="secondary" type="button"
            (click)="onSendMsgPwd()" id=btnsendmsg>
            获取验证码
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item style="font-size: 1rem;">
      <ion-row style="width: 100%;">
        <ion-col size="2">
          <img src="../../../../assets/img/pwd.png" class="pwdlogo">
        </ion-col>
        <ion-col size="10">
          <ion-input type="password" placeholder="填写新密码" [(ngModel)]="mod.model.pwd"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item style="font-size: 1rem;">
      <ion-row style="width: 100%;">
        <ion-col size="2">
          <img src="../../../../assets/img/pwd.png" class="pwdlogo">
        </ion-col>
        <ion-col size="6">
          <ion-input type="password" placeholder="确定新密码" [(ngModel)]="mod.model.pwd1"></ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-row style="width:100%;height: 30px;margin-top: 10px;">
      <ion-col size="1" style="padding-right: 0px;">
        <img *ngIf="isval" src="../../../../assets/img/error.png" style="width:80%">
      </ion-col>
      <ion-col size="11" style="padding-left: 0px;">
        <ion-label *ngIf="isval" style="color: red;">密码填写不一致</ion-label>
      </ion-col>
    </ion-row>
    <div class="ion-padding">
      <ion-button expand="block" type="button" (click)="onPwdReset(3)"
        class="ion-no-margin ios button button-block button-solid ion-activatable ion-focusable hydrated">
        确定
      </ion-button>
    </div>
  </ion-card-content>
</ion-content>


 