@import "../component/scss/main.scss";

//图片
.dm-img {
    padding-top: 10px;
    padding-bottom: 10px;
}
//标题
.dm-title {

    ion-grid {
        ion-row {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;

            ion-col:first-child {
                padding-left: 20px;
                text-align: left;
                font-size: 20px;
                color: $dm-darkblue;
            }

            ion-col:last-child {
                padding-right: 20px;
                text-align: right;
                font-size: 16px;
                color: $dm-darkblue;
            }

            &::after {
                position: absolute;
                display: inline-block;
                content: ' ';
                bottom: 0px;
                width: 100%;
                height: 1px;
                background-color: $dm-gray-line;
            }
        }
    }
}
//介绍
.dm-description {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    color: $dm-darkblue;
}

//图片有边距
.dm-imgpadding {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
//图片列表
.dm-imglist {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;

    ion-col {
        text-align: center;
    }

    .dm-imglist-item {


        div {
            margin: 0 auto;
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            box-shadow: 0 4px 5px 0 rgba(0,0,0,.05);


            img {
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }
        }


        &.disabled div::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            opacity: 0.5;
        }

        &.select div::after {
            content: "";
            position: absolute;
            width: 110%;
            height: 110%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            border-radius: 50%;
            border: 2px solid #f06e23;
            opacity: 0.5;

            @keyframes opacityanimation {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

            animation: opacityanimation ease 0.5s both;
        }

        p {
            text-align: center;
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 10px;
            font-size: 14px;
            color: $dm-darkblue
        }
    }
}
