.content{
    margin: 10px 20px;
}
ion-header{
    padding-top: 10px;
    ion-icon{
        margin-right:16px;
        color:#787878
    }
}
ion-title{
    color: #000000;
    font-size: 20px;
    text-align: center;
    padding-left: 70px;
}
ion-list {
    ion-item{
        --background: #f7f6fb;
        --border-width:0px;
        ion-avatar {
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            height: 60px;
            width: 60px;
            margin-right: 10px;
        }
        ion-label{
            --border-width:0px;
            h2{
                font-size: 16px;
                font-weight: 100px;
                color: #151723;
                margin-bottom: 10px;
            }
            p{
                font-size: 14px;
                color: #adabb6;
            }
        }
        
        ion-note{
            font-size: 10px;
        }
    }
}

ion-toolbar{
    --border-width:0px;
}
