<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>我的任务</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="this.model.seachkey" placeholder="可根据姓名、手机号模糊查找" (keyup)="search($event)">
        </ion-searchbar>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment>
            <ion-segment-button value="-1" checked (click)="selectTab(-1)">
                <ion-label>全部</ion-label>
            </ion-segment-button>

            <ion-segment-button (click)="selectTab(0)">
                <ion-label>打开</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="selectTab(1)">
                <ion-label>关闭</ion-label>
            </ion-segment-button>

        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles"
            refreshingText="刷新中...">
        </ion-refresher-content>
    </ion-refresher> -->
    <ion-list lines="full">
        <ion-item-sliding *ngFor="let item of model.datalist" >
            <ion-item [routerLink]="['/saleing/cultivatetask/detail']" [queryParams]="{id:item.mcs_activityid}">
                <ion-icon slot="start" name="logo-instagram" size="large" color="primary"></ion-icon>
                <ion-label>
                    <h2>{{item.Custname}}</h2>
                    <p>{{item.mcs_name}}</p>
                    <p>{{item.mcs_mobilephone}}</p>
                </ion-label>
                <ion-note slot="end">
                    <p>{{item.mcs_importantlevel}}</p>
                    <p>{{item.mcs_activitystatus}}</p>
                </ion-note>
            </ion-item>
            <ion-item-options side="end" *ngIf="item.mcs_activitystatus=='open'">
               <ion-item-option color="tertiary" expandable [routerLink]="['/saleing/cultivatetask/edit']" [queryParams]="{id:item.mcs_activityid}">
                 编辑
               </ion-item-option> 
               <ion-item-option color="primary" expandable (click)="TaskFinish(item.mcs_activityid)">
                 完成
               </ion-item-option>                   
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
   
        <ion-label *ngIf="infiniteScroll.disabled && !model.searchnodata"  text-center>
            <p>
                没有更多的记录显示啦
            </p>
        </ion-label>
        <ion-label *ngIf="!infiniteScroll.disabled && model.searchnodata"  text-center>
            <p>
                没有数据！
            </p>
        </ion-label>

    <ion-infinite-scroll #myInfiniteScroll threshold="100px" (ionInfinite)="doLoading($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button [routerLink]="['/saleing/cultivatetask/edit']" [queryParams]="">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
    </ion-fab>

</ion-content>
