<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/saleing/driverecord/list"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-label>试乘试驾明细</ion-label>
        </ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-segment [(ngModel)]="tab" color="primary">
            <ion-segment-button value="info">
                <ion-label>基础信息</ion-label>
            </ion-segment-button>
            <ion-segment-button value="check">
                <ion-label>附件列表</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="tab">
        <div *ngSwitchCase="'info'">
            <ion-list lines="full">
                <ion-item-divider color="primary">

                    <ion-label>
                        用户信息 <span [ngStyle]="{'font-size': '0.8rem'}">{{mod.data.detail.statusname}}</span>
                    </ion-label>

                </ion-item-divider>
                <ion-item>
                    <ion-label>
                        <h2>
                            姓名
                        </h2>
                        <p>{{mod.data.detail.mcs_fullname}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            手机号码
                        </h2>
                        <p>{{mod.data.detail.mcs_mobilephone}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            业务类型
                        </h2>
                        <p>{{mod.data.detail.mcs_businesstype}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            试驾车型
                        </h2>
                        <p>{{mod.data.detail.carmodelname}}&nbsp;</p>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>
                        <h2>
                            日期
                        </h2>
                        <p>{{mod.data.detail.mcs_ordertime | date:'yyyy-MM-dd HH:mm:ss'}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            时段
                        </h2>
                        <p>{{mod.data.detail.reservationname}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            试驾车辆
                        </h2>
                        <p>{{mod.data.detail.testdrivecarname}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            试驾路线
                        </h2>
                        <p>{{mod.data.detail.driveroutename}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            试驾开始时间
                        </h2>
                        <p>{{mod.data.detail.mcs_starton | date:'yyyy-MM-dd HH:mm:ss'}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            试驾结束时间
                        </h2>
                        <p>{{mod.data.detail.mcs_endon | date:'yyyy-MM-dd HH:mm:ss'}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            取消原因
                        </h2>
                        <p>{{mod.data.detail.mcs_cancelreason}}&nbsp;</p>
                    </ion-label>
                </ion-item>
            </ion-list>

        </div>

        <div *ngSwitchCase="'check'">

            <ion-grid class="ionatt">
                <ion-row *ngIf="mod.data.attachment.length===0">
                    <ion-col>
                        <div class="ionattbody">
                            当前无附件记录
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>




            <ion-list>
                <ion-item *ngFor="let item of mod.data.attachment">
                    <ion-icon name="document" size="large" *ngIf="item.mcs_filetype !='png'"></ion-icon>
                    <ion-icon name="images" size="large" *ngIf="item.mcs_filetype =='png'"></ion-icon>
                    <ion-label>
                        <h2>{{item.mcs_filename}}</h2>
                    </ion-label>
                    <ion-button *ngIf="item.mcs_filetype !='png' && item.mcs_filetype !='jpg'  " color="primary"
                                class="button-outline" (click)="down(item.fileurl)">
                        下载 <ion-icon color="primary" name="arrow-down"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="item.mcs_filetype =='png' ||   item.mcs_filetype =='jpg' " color="primary"
                                class="button-outline" (click)="down(item.fileurl)">
                        预览 <ion-icon color="primary"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-list>

        </div>


        <ion-row class="ios hydrated"
                 *ngIf="mod.data.detail.mcs_drivestatus == 11 || mod.data.detail.mcs_drivestatus == 12">
            <ion-col offset-4="" class="ios hydrated">
                <section style="text-align:center;">
                    <ion-button style="width:80%" color="danger" [routerLink]="['/saleing/driverecord/edit']"
                                [queryParams]="{actionCode:'4'}">预约取消</ion-button>
                </section>
            </ion-col>
            <ion-col class="ios hydrated">
                <section style="text-align:center;">
                    <ion-button style="width:80%" color="primary" [routerLink]="['/saleing/driverecord/edit']"
                                [queryParams]="{actionCode:'3'}" *ngIf="mod.data.detail.mcs_drivestatus == 11">排程</ion-button>
                    <ion-button style="width:80%" color="primary" (click)="beginOnClick(mod.data.detail.id)"
                                *ngIf="mod.data.detail.mcs_drivestatus == 12">开始试驾</ion-button>
                </section>
            </ion-col>
        </ion-row>
        <section style="text-align:center;" *ngIf="mod.data.detail.mcs_drivestatus==14">
            <ion-button style="width:80%" color="primary" (click)="endOnClick(mod.data.detail.id)">
                结束试驾
            </ion-button>
        </section>
    </div>
    <br />
    <br />
    <br />
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="success" (click)="fileUpload()">
                <ion-icon name="cloud-upload"></ion-icon>
            </ion-fab-button>

            <ion-fab-button [routerLink]="['/saleing/driverecord/edit']" [queryParams]="{actionCode:'2'}"
                            *ngIf="mod.data.detail.mcs_drivestatus==10 || mod.data.detail.mcs_drivestatus==11 || mod.data.detail.mcs_drivestatus==12 "
                            color="warning">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="mod.data.detail.testdrivefeedbackname!=null" color="primary" [routerLink]="['/saleing/driverecord/feedback']"
                            [queryParams]="{id:mod.data.detail.id}">
                反馈
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>


</ion-content>