<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/sc/list"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-label>服务委托书明细</ion-label>
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar>
        <ion-segment [(ngModel)]="tab" color="dark">
            <ion-segment-button value="info">
                <ion-label>基础信息</ion-label>
            </ion-segment-button>
            <ion-segment-button value="item">
                <ion-label>维修项目</ion-label>
            </ion-segment-button>
            <ion-segment-button value="att">
                <ion-label>维修履历</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div [ngSwitch]="tab">
        <div *ngSwitchCase="'info'">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <ion-label>基本信息</ion-label>
                    </ion-card-title>
                </ion-card-header>

                <ion-list lines="full">
                    <ion-item>
                        <ion-label>
                            <h2>
                                姓名
                            </h2>
                            <p>{{mod.data.serviceproxy.customername}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                车牌
                            </h2>
                            <p>{{mod.data.serviceproxy.carplate}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                手机
                            </h2>
                            <p>{{mod.data.serviceproxy.customerphone}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                厅店
                            </h2>
                            <p>{{mod.data.serviceproxy.dealerid}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
                <br />
            </ion-card>

            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <ion-label>委托信息</ion-label>
                    </ion-card-title>
                </ion-card-header>

                <ion-list lines="full">
                    <ion-item>
                        <ion-label>
                            <h2>
                                单号
                            </h2>
                            <p>{{mod.data.serviceproxy.name}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                送修人
                            </h2>
                            <p>{{mod.data.serviceproxy.shuttlename}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                送修人手机
                            </h2>
                            <p>{{mod.data.serviceproxy.shuttlephone}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                工单类型
                            </h2>
                            <p>{{mod.data.serviceproxy.ordertype}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                进店电量
                            </h2>
                            <p>{{mod.data.serviceproxy.inpower}}%&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                离店电量
                            </h2>
                            <p>{{mod.data.serviceproxy.outpower}}%&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                进店油量
                            </h2>
                            <p>{{mod.data.serviceproxy.oilquantity}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                离店油量
                            </h2>
                            <p>{{mod.data.serviceproxy.departureoil}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                进店里程
                            </h2>
                            <p>{{mod.data.serviceproxy.mileage}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                离店里程
                            </h2>
                            <p>{{mod.data.serviceproxy.departuremileage}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                到店时间
                            </h2>
                            <p>{{mod.data.serviceproxy.arrivalon}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                完工时间
                            </h2>
                            <p>{{mod.data.serviceproxy.finishat}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                维修工位
                            </h2>
                            <p>{{mod.data.serviceproxy.repairlocationid}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                状态
                            </h2>
                            <p>{{mod.data.serviceproxy.status}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                工时费用
                            </h2>
                            <p>￥{{mod.data.serviceproxy.hoursamount}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                零件费用
                            </h2>
                            <p>￥{{mod.data.serviceproxy.partsamount}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                优惠金额
                            </h2>
                            <p>￥{{mod.data.serviceproxy.discountamount}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <h2>
                                费用合计
                            </h2>
                            <p>￥{{mod.data.serviceproxy.amounttotal}}&nbsp;</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
                <br />
            </ion-card>
        </div>
        <div *ngSwitchCase="'item'">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <ion-label>维修项目</ion-label>
                    </ion-card-title>
                </ion-card-header>

                <ion-list lines="full">
                    <ion-item *ngFor="let item of mod.data.serviceorderrepairitemArray;let key=index">
                        <ion-label>
                            <h2>
                                项目名称(编码)
                            </h2>
                            <p>
                                {{item.name}}({{item.code}})
                            </p>
                            <h2>
                                维修类别(类型)
                            </h2>
                            <p text-wrap>
                                {{item.repairitemtypeid_Formatted}}({{item.repairitemtypedetailid_Formatted}})
                            </p>
                            <h2>
                                费用明细
                            </h2>
                            <p>
                                {{item.workinghour}}小时 X {{item.price}}  X {{item.discount}}  =  ¥{{item.repairamount}}
                            </p>
                        </ion-label>
                    </ion-item>
                    <ion-item *ngIf="mod.data.serviceorderrepairitemArray.length===0">
                        <ion-label>
                            <p>
                                当前单据没有维修项目
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>
                <br />
            </ion-card>

            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <ion-label>维修配件</ion-label>
                    </ion-card-title>
                </ion-card-header>

                <ion-list lines="full">
                    <ion-item *ngFor="let item of mod.data.serviceorderpartArray;let key=index">
                        <ion-label>
                            <h2>
                                零件名称(编码)
                            </h2>
                            <p>
                                {{item.name}}({{item.code}})
                            </p>
                            <h2>
                                维修类别(类型)
                            </h2>
                            <p text-wrap>
                                {{item.repairitemtypeid_Formatted}}({{item.repairitemtypedetailid_Formatted}})
                            </p>
                            <h2>
                                费用明细
                            </h2>
                            <p>
                                {{item.quantity}} X {{item.price}}  X {{item.discount}}  =  ¥{{item.amount}}
                            </p>
                        </ion-label>
                    </ion-item>
                    <ion-item *ngIf="mod.data.serviceorderpartArray.length===0">
                        <ion-label>
                            <p>
                                当前单据没有维修零件
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>
                <br />
            </ion-card>
        </div>


        <div *ngSwitchCase="'att'">

            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <ion-label>维修履历</ion-label>
                    </ion-card-title>
                </ion-card-header>

                <ion-list lines="full">
                    <ion-item *ngFor="let item of mod.data.serviceproxyResumeArray;let key=index" [routerLink]="['/serving/sc/detail']" [queryParams]="{id:item.Id}">
                        <ion-icon name="document"></ion-icon>
                        <ion-label style="margin-left:10px;">
                            <h6>{{item["Attributes"]["mcs_name"]}}</h6>
                            <p>{{item["Attributes"]["mcs_carplate"]}}&nbsp;&nbsp;</p>
                            <p>{{item["Attributes"]["createdon@OData.Community.Display.V1.FormattedValue"]}}</p>
                            <p>{{item["Attributes"]["_mcs_dealerid_value@OData.Community.Display.V1.FormattedValue"]}}</p>
                        </ion-label>
                        <!--<ion-label style="text-align:right;">
                            <p>{{item["Attributes"]["mcs_ordertype@OData.Community.Display.V1.FormattedValue"]}}</p>
                        </ion-label>-->
                    </ion-item>
                    <ion-item *ngIf="mod.data.serviceproxyResumeArray.length===0">
                        <ion-label>
                            <p>
                                当前车辆没有维修履历
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>
                <br />
            </ion-card>
        </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="success" [routerLink]="['/serving/ri/edit']"><ion-icon name="add"></ion-icon></ion-fab-button>
            <ion-fab-button *ngIf="mod.data.serviceproxy.status===100" color="danger" (click)="deleteOnClick()"><ion-icon name="trash"></ion-icon></ion-fab-button>
            <ion-fab-button *ngIf="mod.data.serviceproxy.status===100" color="warning" [routerLink]="['/serving/sc/edit']" [queryParams]="{id:mod.data.serviceproxy.id,actionCode:2}"><ion-icon name="create"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
