/*ion-card-header {
    border-bottom: 0.1em solid rgb(200,199,204);

    ion-card-title {
        height: 0.3rem;

        ion-icon {
            font-size: 1rem;
            float: left;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1rem;
        }

        ion-label {
            float: left;
            font-size: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

ion-list {
    ion-item-divider {
        ion-label {
            font-size: 0.6rem;
        }
    }

    ion-label:first-of-type {

        h2 {
            margin-left: 0rem;
            font-size: 0.5rem;
        }

        p {
            font-size: 0.3rem;
        }
    }

}*/
