<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/home/systemsetup" ></ion-back-button>
       </ion-buttons>
      <ion-title>设置密码</ion-title>     
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list lines="full">    
          <ion-item>
              <ion-label position="stacked">
                  用户名
                  <ion-text color="danger">*</ion-text>
              </ion-label>           
              <p>{{model.postData.systemUserName}}&nbsp;</p>            
          </ion-item>
          <ion-item>
              <ion-label position="stacked">
                  旧密码
                  <ion-text color="danger">*</ion-text>
              </ion-label>
            
              <ion-input placeholder="请输入旧密码" [(ngModel)]="model.postData.OldPwd" required></ion-input>
                 
          </ion-item>
          <ion-item>
              <ion-label position="stacked">
                  新密码
                  <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input placeholder="请输入新密码" [(ngModel)]="model.postData.FirstNewPwd" required></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="stacked">
                  确认密码
                  <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input placeholder="请再次输入新密码" [(ngModel)]="model.postData.SecondNewPwd" required></ion-input>
          </ion-item>
          
      </ion-list>
      <section style="text-align:center;">
        <ion-button  expand="block" type="button"  (click)="savepwd()">保存</ion-button>
      </section>
      <br />
      <br />
  </ion-content>
  