<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/home/mywork"></ion-back-button>
        </ion-buttons>
        <ion-title>我的留资</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar animated [(ngModel)]="mod.searchData.search" placeholder="请输入姓名\手机号搜索" (keyup)="searchOnKeyup($event)"></ion-searchbar>  
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">  
      <ion-item-sliding *ngFor="let item of mod.data;let key=index">
          <ion-item [routerLink]="['/serving/mycustomer/detail']" [queryParams]="{id:item.Id}">
              <ion-label>
                  <h2>{{item.mobilephone}}</h2>
                  <p>{{item.clues}}</p>
              </ion-label>
       
            <ion-label> 
                <p style="float:right">{{item.gender}}</p>
                <p style="float:right;margin-right: 10px;">{{item.username}}</p>
      
          </ion-label>
          </ion-item> 
      </ion-item-sliding> 
  </ion-list>
</ion-content> 
