<ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
          </ion-buttons>
  
          <ion-title>首页</ion-title>
        </ion-toolbar>
  </ion-header>
<!-- 
<ion-content padding>
     <ion-list auto-hide="false" *ngFor="let r of testDriveList">
        <ion-item (click)="showDetail(r)">
            <ion-grid>
              <ion-row>
                <ion-col size="9">
                    <ion-label>
                      <h3><ion-icon name="timer"></ion-icon>  {{r.Date}}</h3>
                    </ion-label>
                </ion-col>
                <ion-col size="3">
                    <ion-label>
                      <h3 *ngIf="r.Status==0">待完成</h3>
                      <h3 *ngIf="r.Status==1">已完成</h3>
                      <h3 *ngIf="r.Status==2">已关闭</h3>
                    </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                      <ion-label>
                        <h2>{{r.UserName}}</h2>
                        <h3>试驾时间：{{r.StartTime}}-{{r.EndTime}}</h3>
                        <p>车型：{{r.VehicleType}}</p>
                      </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
      </ion-list>
</ion-content> -->

<ion-content fullscreen>
  <ion-list>
      <ion-item (click)="toRedict('appointment')">
        <ion-icon size="large" slot="start" name="car" ></ion-icon>
        <ion-label>
          <h3>试乘试驾</h3>
        </ion-label>
        <ion-icon class="item-detail-icon ios hydrated" role="img" aria-label="arrow forward"></ion-icon>
      </ion-item>

      <ion-item (click)="toRedict('appointment')">
        <ion-icon size="large" slot="start" name="car" ></ion-icon>
        <ion-label>
          <h3>功能二</h3>
        </ion-label>
        <ion-icon class="item-detail-icon ios hydrated" role="img" aria-label="arrow forward"></ion-icon>
      </ion-item>

      <ion-item (click)="toRedict('appointment')">
        <ion-icon size="large" slot="start" name="car" ></ion-icon>
        <ion-label>
          <h3>功能三</h3>
        </ion-label>
        <ion-icon class="item-detail-icon ios hydrated" role="img" aria-label="arrow forward"></ion-icon>
      </ion-item>
      
  </ion-list>

  <ion-card>
      <ion-card-header>
        <ion-card-title>工作台</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col [routerLink]="['/test-drive-add']">
                    <img src="assets/img/car.png" />
                    <ion-label style="text-align:center;">预约</ion-label>
                </ion-col>
                <ion-col [routerLink]="['/tabs']">
                    <img src="assets/img/aperture.png" />
                    <ion-label style="text-align:center;">功能二</ion-label>
                </ion-col>
                
                <ion-col [routerLink]="['/appointment']">
                  <img src="assets/img/browser.png" />
                    <ion-label style="text-align:center;">功能三</ion-label>
                </ion-col>
              </ion-row>
              <ion-row >
                  <ion-col [routerLink]="['/appointmentstatistics']">
                      <img src="assets/img/bookshelf.png" />
                      <ion-label style="text-align:center;">功能四</ion-label>
                  </ion-col>
                  <ion-col>
                      
                  </ion-col>
                  <ion-col>
                     
                  </ion-col>
                </ion-row>
        
          </ion-grid>
      </ion-card-content>
    </ion-card>
  
</ion-content>