<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/servicecenter/boutique/detail"></ion-back-button>
        </ion-buttons>
        <ion-title>{{model.title}}</ion-title>
        <ion-buttons slot="end">
            <div *ngIf="IsEdit; then truthysTemplate else falsysTemplate"></div>
            <ng-template #truthysTemplate>
                <ion-button text="完成" (click)="doEdit(1)">完成</ion-button>
            </ng-template>
            <ng-template #falsysTemplate>
                <ion-button text="编辑" (click)="doEdit(0)">编辑</ion-button>
            </ng-template>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item style="padding:20px 10px;" lines="none" *ngFor="let item of model.cartList.datas">
            <div style="width:10%;">
                <ion-checkbox [(ngModel)]="item.checked" (ionChange)="change(item)" style="width:55%;height:55%;"></ion-checkbox>
            </div>
            <div style="width:28%;z-index:1;">
                <div *ngIf="item.img != null; then truthysTemplate else falsysTemplate"></div>
                <ng-template #truthysTemplate>
                    <img src="{{item.img}}" style="width:80%;height:80%;border-radius:15px;" />
                </ng-template>
                <ng-template #falsysTemplate>
                    <img src="../assets/img/temp/xiaopeng1.jpg" style="width:80%;height:80%;border-radius:15px;" />
                </ng-template>

            </div>
            <div style="width:62%;z-index:1;">
                <div>{{item.productname}}</div>
                <div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:14px;margin:10px 0;color:#a5a2a2;">{{item.skuname}}</div>
                <div style="display:flex;justify-content:space-between;">
                    <div style="width:60%;color:#38B3EE;line-height:35px;">￥ {{item.price}}</div>
                    <div style="width:40%;line-height:35px;">
                        <button (click)="changeValue($event,-1)" class="decrease icon-reduce" type="button" value="{{item.skucode}}">-</button>
                        <input type="number" class="spinners" value="{{item.num}}" readonly="readonly" maxlength="2">
                        <button (click)="changeValue($event,1)" class="increase icon-add" type="button" value="{{item.skucode}}">+</button>
                    </div>
                </div>
            </div>

        </ion-item>
</ion-list>
    <!--无数据时显示-->
    <div class="non-product" *ngIf="IsEmpty">
        <div style="margin-top:100px;text-align:center;color:#a5a2a2;">
            <ion-label>购物车暂无商品</ion-label>
        </div>
        <div style="margin-top:-300px;text-align:center;">
            <ion-button [routerLink]="['/servicecenter/boutique/list']" style="width:80%;">
                去逛逛
            </ion-button>
        </div>
    </div>
</ion-content>
<!--底部栏-->
<ion-tab-bar slot="bottom">
    <ion-tab-button (click)="changeAll($event)" style="max-width:110px;">
        <span style="display:inline-flex;font-size:16px;color:#000;">
            <ion-checkbox [(checked)]="model.cartList.checkAll"></ion-checkbox>
            <span style="padding-left:5px;">全选</span>
        </span>
    </ion-tab-button>
    <ion-tab-button tab="servicecenter">
        <span class="span-total" style="font-size:16px;">合计:<span style="color:#38B3EE;">￥{{model.cartList.totalprice}}</span></span>
    </ion-tab-button>
    <ion-tab-button tab="personalcenter" (click)="BuyPro()" class="tab-cac tab-background-5a5" disabled>
        <ion-label style="font-size:16px; color:#fff;">去结算</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="personalcenter" (click)="removeCart()" class="tab-hide tab-background-5a5" disabled>
        <ion-label style="font-size:16px; color:#fff;">删除所选</ion-label>
    </ion-tab-button>
</ion-tab-bar>
