.non-product {
    height: 100%;
    display: grid;
    align-items: center;
}
.icon-reduce {
    border: none;
    background-color: #fff;
    font-size: 20px;
}
.spinners {
    border: none;
    width: 80px;
    text-align: center;
    background-color: #F6F6F6;
    font-size:20px;
    margin:0 10px;
}
.icon-add {
    border: none;
    background-color: #fff;
    font-size: 20px;
}
