<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/sc/list"></ion-back-button>
        </ion-buttons>
        <ion-title>选择维修项目及配件</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-card-title>
                    <ion-label>保养项</ion-label>
                </ion-card-title>
            </ion-card-title>
        </ion-card-header>

        <ion-list lines="full">
            <ion-item (click)="presentCarmodelModal()">
                <ion-label position="stacked">
                    <ion-icon slot="end" name="search"></ion-icon>
                    车型
                </ion-label>
                <p>
                    {{mod.searchData["carmodel"]["name"]}}&nbsp;
                </p>
            </ion-item>

            <ion-item (click)="presentMaintenanceModal()">
                <ion-label position="stacked">
                    <ion-icon slot="end" name="search"></ion-icon>
                    保养项
                </ion-label>
                <p>
                    {{mod.searchData["maintenance"]["name"]}}&nbsp;
                </p>
            </ion-item>
        </ion-list>
        <ion-card-content>
            <ion-button color="primary" class="button-outline" (click)="searchOnClick()">
                查询
            </ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-card-title>
                    <ion-label>维修项目</ion-label>
                </ion-card-title>
            </ion-card-title>
        </ion-card-header>
        <ion-list lines="full">
            <ion-item-sliding *ngFor="let key of objectKeys(shareData.serviceorderrepairitemMap)">
                <ion-item [routerLink]="['/serving/sc/subeditworking']" [queryParams]="{key:key,actionCode:2}">
                    <ion-label>
                        <h2>
                            项目名称(编码)
                        </h2>
                        <p>
                            {{shareData.serviceorderrepairitemMap[key]["name"]}}
                            ({{shareData.serviceorderrepairitemMap[key]["code"]}})
                        </p>
                        <h2>
                            维修类别(类型)
                        </h2>
                        <p>
                            {{shareData.serviceorderrepairitemMap[key]["repairitemtypeid_Formatted"]}}
                            ({{shareData.serviceorderrepairitemMap[key]["repairitemtypedetailid_Formatted"]}})
                        </p>
                        <h2>
                            费用明细
                        </h2>
                        <p>
                            {{shareData.serviceorderrepairitemMap[key]["workinghour"]}}小时 X {{shareData.serviceorderrepairitemMap[key]["price"]}}  X {{shareData.serviceorderrepairitemMap[key]["discount"]}}  =  ¥{{shareData.serviceorderrepairitemMap[key]["repairamount"]}}
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="danger" expandable (click)="workingDeleteClick(key)">
                        移除
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-card-content>
            <ion-button color="primary" class="button-outline" [routerLink]="['/serving/sc/subeditworking']" [queryParams]="{actionCode:1}">
                添加
            </ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-card-title>
                    <ion-label>维修配件</ion-label>
                </ion-card-title>
            </ion-card-title>
        </ion-card-header>

        <ion-list lines="full">
            <ion-item-sliding *ngFor="let key of objectKeys(shareData.serviceorderpartMap)">
                <ion-item [routerLink]="['/serving/sc/subeditpart']" [queryParams]="{key:key,actionCode:2}">
                    <ion-label>
                        <h2>
                            零件名称(编码)
                        </h2>
                        <p>
                            {{shareData.serviceorderpartMap[key]["name"]}}
                            ({{shareData.serviceorderpartMap[key]["code"]}})
                        </p>
                        <h2>
                            维修类别(类型)
                        </h2>
                        <p>
                            {{shareData.serviceorderpartMap[key]["repairitemtypeid_Formatted"]}}
                            ({{shareData.serviceorderpartMap[key]["repairitemtypedetailid_Formatted"]}})
                        </p>
                        <h2>
                            费用明细
                        </h2>
                        <p>
                            {{shareData.serviceorderpartMap[key]["quantity"]}} X {{shareData.serviceorderpartMap[key]["price"]}}  X {{shareData.serviceorderpartMap[key]["discount"]}}  =  ¥{{shareData.serviceorderpartMap[key]["amount"]}}
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="danger" expandable (click)="partDeleteClick(key)">
                        移除
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-card-content>
            <ion-button color="primary" class="button-outline" [routerLink]="['/serving/sc/subeditpart']" [queryParams]="{actionCode:1}">
                添加
            </ion-button>
        </ion-card-content>
    </ion-card>
    <section style="text-align:center;">
        <ion-button style="width:40%" color="danger" [routerLink]="['/serving/sc/edit']">上一步</ion-button>
        <ion-button style="width:40%" color="primary" (click)="saveOnClick()">保存</ion-button>
    </section>
    <br />
    <br />
</ion-content>
