<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/saleing/onlylead/detail"></ion-back-button>
        </ion-buttons>
        <ion-title>编辑唯一线索</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-group>
            <ion-item-divider color="primary">
                <ion-label>基本信息</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-label  position="stacked">姓名<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="text" placeholder="请输入姓名" maxlength="12" [(ngModel)]="onlylead['mcs_name']" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">手机<ion-text color="danger">*</ion-text></ion-label>
                <ion-input type="tel" placeholder="请输入11位手机号" maxlength="11" [(ngModel)]="onlylead['mcs_mobilephone']" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">线索来源 <ion-text color="danger">*</ion-text></ion-label>
                  <ion-select [(ngModel)]="onlylead['mcs_leadorigin']" placeholder="请选择线索来源"  okText="确认" cancelText="取消" required>
                       <ion-select-option *ngFor="let item of model.leadoriginoption" value="{{item.value}}">
                           {{item.name}}
                        </ion-select-option>
                   </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">称呼<ion-text color="danger">*</ion-text></ion-label>
                   <ion-select [(ngModel)]="onlylead['mcs_gender']" placeholder="请选择称呼" okText="确认" cancelText="取消" required>
                        <ion-select-option *ngFor="let item of model.genderoption" value="{{item.value}}">
                            {{item.name}}
                        </ion-select-option>
                   </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">邮箱</ion-label>
                <ion-input type="email" [(ngModel)]="onlylead['mcs_emailaddress1']"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">评分<ion-text color="danger">*</ion-text></ion-label>
                   <ion-select [(ngModel)]="onlylead['mcs_accountpoints']" placeholder="请选择评分" okText="确认" cancelText="取消">
                      <ion-select-option *ngFor="let item of model.scoreoption" value="{{item.value}}">
                         {{item.name}}
                      </ion-select-option>
                    </ion-select>
            </ion-item>
            <ion-item (click)="provinceOnClick()">
                <ion-label position="stacked">省<ion-text color="danger">*</ion-text></ion-label>
                <p>{{onlylead["provincename"]}}&nbsp;</p>
            </ion-item>
            <ion-item (click)="cityOnClick()">
                <ion-label position="stacked">市<ion-text color="danger">*</ion-text></ion-label>
                <p>{{onlylead["cityname"]}}&nbsp;</p>
            </ion-item>
            <ion-item (click)="districtOnClick()">
                <ion-label position="stacked">区<ion-text color="danger">*</ion-text></ion-label>
                <p>{{onlylead["districtname"]}}&nbsp;</p>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">用车省份</ion-label>
                <ion-input type="text" [(ngModel)]="onlylead['mcs_usecarprovince']"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">用车城市</ion-label>
                <ion-input type="text" [(ngModel)]="onlylead['mcs_usecarcity']"></ion-input>
            </ion-item>
        </ion-item-group>
        
        <ion-button expand="block" type="button" (click)="saveOnClick()">确定</ion-button>
    </ion-list>
</ion-content>