<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/saleing/lead/list"></ion-back-button>
        </ion-buttons>
        <ion-title>新增留资</ion-title>
    </ion-toolbar> 
</ion-header>

<ion-content> 
        <ion-list lines="full">
                <ion-item>
                        <ion-label><h2>姓名：</h2></ion-label>   
                                <ion-input type="text" [(ngModel)]="model.info.username"  ></ion-input> 
                      
                </ion-item>
                <ion-item>
                      <ion-label> <h2>手机号：</h2></ion-label>    
                                <ion-input type="text" [(ngModel)]="model.info.mobile"  ></ion-input>   
                </ion-item> 
                <ion-item>
                        <ion-text color="danger">*</ion-text><ion-label><h2>线索来源：</h2></ion-label>    
                            <ion-select  okText="确认" cancelText="取消" [(ngModel)]="" > 
                                    <ion-select-option *ngFor="let item of model.info.leadoriginoption" value="item.value">{{item.name}}}</ion-select-option> 
                                </ion-select> 
                   
                </ion-item>
                <ion-item>
                       <ion-label> <h2>称呼：</h2></ion-label> 
                      <ion-select okText="确认" cancelText="取消">
                            <ion-select-option value="1">先生</ion-select-option>
                            <ion-select-option value="2">女士</ion-select-option>
                            <ion-select-option value="3">未知</ion-select-option>
                        </ion-select> 
                </ion-item> 
                <ion-item> 
                    <ion-label><h2>邮箱：</h2></ion-label>  
                            <ion-input type="text"  [(ngModel)]="model.info.mail"></ion-input>   
                 
                </ion-item>
                <ion-item>
                        <ion-text color="danger">*</ion-text><ion-label>评分：</ion-label> 
                      <ion-select okText="确认" cancelText="取消">
                            <ion-select-option value="1">1分</ion-select-option>
                            <ion-select-option value="2">2分</ion-select-option>
                            <ion-select-option value="3">3分</ion-select-option>
                        </ion-select>  
                </ion-item>
                <ion-item (click)="provinceOnClick()">
                        <ion-label position="stacked">省：</ion-label>
                        <p>{{model.info.provincename}}&nbsp;</p>
                    </ion-item>
                    <ion-item (click)="cityOnClick()">
                        <ion-label position="stacked">市：</ion-label>
                        <p>{{model.info.cityname}}&nbsp;</p>
                    </ion-item>
                    <ion-item (click)="districtOnClick()">
                        <ion-label position="stacked">区：</ion-label>
                        <p>{{model.info.areaname}}&nbsp;</p>
                    </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            线索描述：
                        </h2>  
                      </ion-label> 
                      <ion-textarea [(ngModel)]="model.info.describe"></ion-textarea> 
                </ion-item> 
        </ion-list> 
</ion-content>
