<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
      <ion-title>创建试乘试驾记录</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <form (submit)="onSubmit()">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label>姓名<ion-text color="danger">*</ion-text></ion-label>
              <ion-input [(ngModel)]="CurrentTestDrive.UserName" id="UserName" name="UserName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>手机号<ion-text color="danger">*</ion-text></ion-label>
              <ion-input [(ngModel)]="CurrentTestDrive.UserPhone" id="UserPhone" name="UserPhone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>车型<ion-text color="danger">*</ion-text></ion-label>
              <ion-input [(ngModel)]="CurrentTestDrive.CarModel" id="CarModel" name="CarModel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>试驾日期<ion-text color="danger">*</ion-text></ion-label>
            <!-- <ion-datetime value="" placeholder="选择日期"></ion-datetime> -->
            <ion-datetime value="YYYY-MM-DD" display-format="YYYY-MM-DD" picker-format="YYYY-MM-DD" placeholder="选择日期"  [(ngModel)]="CurrentTestDrive.OrderTime" id="OrderTime" name="OrderTime"  ></ion-datetime>
          </ion-item>
            <ion-item>
              <ion-label>试驾时间<ion-text color="danger">*</ion-text></ion-label>
              <ion-datetime value="hh:mm" display-format="hh:mm" picker-format="hh:mm"  placeholder="选择时间段" [(ngModel)]="CurrentTestDrive.TestDriveTimeId" id="TestDriveTimeId" name="TestDriveTimeId"></ion-datetime>
              <!-- <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime> -->
            </ion-item>
            
        <ion-item>
          <ion-label position="stacked">基本信息</ion-label>
          <ion-input placeholder="省"></ion-input>
          <ion-input placeholder="市"></ion-input>
          <ion-input placeholder="区"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">备注</ion-label>
          <ion-textarea rows="8"></ion-textarea>
        </ion-item>
      </ion-list>

      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">创建</ion-button>
      </div>
    </form>
  </ion-content>
