<ion-header>
    <ion-toolbar>
        <ion-title>登录</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
    <ion-list lines="none">
        <ion-list-header text-center>
            <img src="./assets/img/userhead.png" />
        </ion-list-header>
        <ion-item>
            <ion-icon slot="start" name="phone-portrait"></ion-icon>
            <ion-input [(ngModel)]="mod.username" placeholder="手机号码" no-lines></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="lock"></ion-icon>
            <ion-input [(ngModel)]="mod.password" type="password" placeholder="登录密码"></ion-input>
            <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-item color="none">
            <label slot="end">记住密码</label>
            <ion-toggle slot="end"></ion-toggle>
        </ion-item>
        <ion-button expand="block" type="button" (click)="submit()">登录</ion-button>
    </ion-list>
</ion-content>