* {
  margin: 0px;
  padding: 0px;
}
ion-list {
    height: 100%;
    background-color: rgb(249, 249, 249);

    ion-list-header {
        height: 50%;
        text-align: center;

        img {
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            max-width: 100%;
            max-height: 100%;
        }
    }

    ion-item {
        margin-top: 3px;
        margin-left: 10px;
        margin-right: 10px;
    }

    ion-item:nth-child(-n + 3) {
        border: 2px solid rgb(228, 228, 228);

        ion-icon {
            margin-left: -5px;
            font-size: 26px;
            color: rgb(204, 204, 204);
        }

        ion-input {
            border: none;
        }
    }

    ion-button {
        margin-top: 5px;
        margin-left: 25px;
        margin-right: 25px;
    }
}
