<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/saleing/account/list"></ion-back-button>
        </ion-buttons>
        <ion-title>{{shareData.viewTitle}}</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="full">
        <ion-item-divider color="primary">
            <ion-label>
                客户信息
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                机会编号
            </ion-label>
            <p>{{mod.displayData.accountnumber}}&nbsp;</p>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                姓名
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input placeholder="请输入姓名" [(ngModel)]="shareData.account['name']" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                手机
            </ion-label>
            <ion-input placeholder="请输入手机" [(ngModel)]="shareData.account['mcs_mobilephone']" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                称呼
            </ion-label>
            <ion-select placeholder="请选择称呼" cancelText="取消" okText="确定" [(ngModel)]="shareData.account['mcs_gender']">
                <ion-select-option *ngFor="let item of mod.initData.genderArray" value="{{item.value}}">
                    {{item.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                引荐车主
            </ion-label>
            <ion-input placeholder="请输入引荐车主" maxlength="12" [(ngModel)]="shareData.account['mcs_introducecarowner']" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                大订单号
            </ion-label>
            <p>{{mod.displayData.order_Formatted}}&nbsp;</p>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                小订单号
            </ion-label>
            <p>{{mod.displayData.smallorderid_FormattedValue}}&nbsp;</p>
        </ion-item>
        <ion-item-divider color="primary">
            <ion-label>
                购车意向
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label position="stacked">
                意向等级
            </ion-label>
            <ion-select placeholder="请选择意向登记" cancelText="取消" okText="确定" [(ngModel)]="shareData.account['mcs_level']">
                <ion-select-option *ngFor="let item of mod.initData.levelArray" value="{{item.value}}">
                    {{item.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                预测成交日期
            </ion-label>
            <ion-datetime placeholder="请选择预测成交日期" cancelText="取消" doneText="确定" display-format="YYYY-MM-DD" [(ngModel)]="shareData.account['mcs_estimatedtransactiondate']"></ion-datetime>
        </ion-item>
        <ion-item (click)="vehcolorModal()">
            <ion-label position="stacked">
                <ion-icon name="search"></ion-icon>
                意向颜色
            </ion-label>
            <p>{{mod.displayData.mcs_vehcolorid}}&nbsp;</p>
        </ion-item>
        <ion-item (click)="vehtypeModal()">
            <ion-label position="stacked">
                <ion-icon name="search"></ion-icon>
                意向车型
            </ion-label>
            <p>{{mod.displayData.mcs_vehtypeid}}&nbsp;</p>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                购车用途
            </ion-label>
            <ion-select placeholder="请选择购车用途" cancelText="取消" okText="确定" [(ngModel)]="shareData.account['mcs_purchasepurpose']">
                <ion-select-option *ngFor="let item of mod.initData.purchasepurposeArray" value="{{item.value}}">
                    {{item.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                车辆使用人
            </ion-label>
            <ion-select placeholder="请选择车辆使用人" cancelText="取消" okText="确定" [(ngModel)]="shareData.account['mcs_vehicleusers']">
                <ion-select-option *ngFor="let item of mod.initData.vehicleusersArray" value="{{item.value}}">
                    {{item.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                购车关注
            </ion-label>
            <ion-input placeholder="请输入购车关注" maxlength="50" [(ngModel)]="shareData.account['mcs_carattention']" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                年龄段
            </ion-label>
            <ion-select placeholder="请选择年龄段" cancelText="取消" okText="确定" [(ngModel)]="shareData.account['mcs_generation']">
                <ion-select-option *ngFor="let item of mod.initData.generationArray" value="{{item.value}}">
                    {{item.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                购买方式
            </ion-label>
            <ion-select placeholder="请选择购买方式" cancelText="取消" okText="确定" [(ngModel)]="shareData.account['mcs_purchaseway']">
                <ion-select-option *ngFor="let item of mod.initData.purchasewayArray" value="{{item.value}}">
                    {{item.name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                竞品车型
            </ion-label>
            <ion-input placeholder="请输入竞品车型" [(ngModel)]="shareData.account['mcs_competingtype']" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                关注原因
            </ion-label>
            <ion-select placeholder="请选择关注原因" cancelText="取消" okText="确定" [(ngModel)]="shareData.account['mcs_carereason']">
                    <ion-select-option *ngFor="let item of mod.initData.carereasonArray" value="{{item.value}}">
                        {{item.name}}
                    </ion-select-option>
                </ion-select>
        </ion-item>
        <ion-item-divider color="primary">
            <ion-label>
                其它
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label position="stacked">特殊备注</ion-label>
            <ion-textarea placeholder="请输入特殊备注" [(ngModel)]="shareData.account['description']"></ion-textarea>
        </ion-item>
    </ion-list>

    <section style="text-align:center;">
        <ion-button style="width:40%" color="danger" (click)="saveOnClick()">保存</ion-button>
    </section>
    <br />
    <br />
</ion-content>
