<!--<ion-app>
    <ion-split-pane>
      <ion-menu type="overlay" menuId="homeMenu">
        <ion-header>
          <ion-toolbar>
            <ion-title><img src="{{headpicture}}" height="50px" width="50px"/>张云，你好!</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
              <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
                <ion-badge *ngIf="p.num>0" color="danger" >{{p.num}}</ion-badge>
              </ion-item>
            </ion-menu-toggle>
            <ion-item (click)="loginout()">
                <ion-icon slot="start" name="log-out"></ion-icon>
                <ion-label>
                  注销
                </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
  </ion-app>-->

<ion-app>
    <ion-router-outlet></ion-router-outlet>
</ion-app>

