<ion-header>
  <ion-buttons slot="start">
    <ion-back-button text="返回" defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-title>日志详情</ion-title>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon name="alert" color="success" *ngIf="logModel['Type']==1"></ion-icon>
      <ion-icon name="warning" color="warning" *ngIf="logModel['Type']==2"></ion-icon>
      <ion-icon name="bug" color="danger" *ngIf="logModel['Type']==3"></ion-icon>
      <ion-label>{{logModel["CreateTime"]}}</ion-label>
    </ion-item>
    <ion-card-content>
      {{logModel["Message"]}}
    </ion-card-content>
  </ion-card>
</ion-content>
