<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="medium" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>通知列表</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card>
    <ion-item [routerLink]="['/questionsetting']"
      [queryParams]="{id:'6418EC30-680F-EA11-B394-86D989685D12',channer:'AE87DE6A-6D1A-EA11-B394-86D989685D12'}">
      <ion-label>问卷调查</ion-label>
    </ion-item>
    <ion-card-content>
      邀请您参加得好礼
      <img src="assets/img/questionsetting.png" />
    </ion-card-content>
  </ion-card>
  <ion-item-divider color="light">
    <p>
      2019-11-29
    </p> 
  </ion-item-divider>
</ion-content>