<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="medium" text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>通知列表</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row *ngFor="let notice of model.datalist">
        <ion-card>
            <ion-item [routerLink]="['/message/notice']"  [queryParams]="{url:notice.mcs_url}" >
              <ion-label>{{notice.mcs_name}}</ion-label>
            </ion-item>
            <ion-card-content>
                {{notice.mcs_content}}
              <img [src]="notice.mcs_head_imageurl" />
            </ion-card-content>
          </ion-card>
          <ion-item-divider color="light">
            <p>
                {{FormatToDate(notice.createdon)}}
            </p> 
          </ion-item-divider>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll #myInfiniteScroll threshold="100px" (ionInfinite)="doLoading($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>