<ion-header>
    <ion-toolbar>
        <ion-title>我的</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <ion-list lines="full">
        <ion-item>
            <ion-icon color="primary" slot="start" name="person" size="large"></ion-icon>
            <ion-label>
                <h2>张三</h2>
                <p>15088888888</p>
            </ion-label>
        </ion-item>

    </ion-list>

    <ion-list lines="full">
        <ion-item [routerLink]="['/serving/mycustomer/list']">
            <ion-icon color="primary" slot="start" name="contacts" size="large"></ion-icon>
            <ion-label>
                <h3>我的客户</h3>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list lines="full">
        <ion-item>
            <ion-icon color="secondary" slot="start" name="alarm" size="large"></ion-icon>
            <ion-label>
                <h3>我的预约</h3>
            </ion-label>
        </ion-item>
        <ion-item [routerLink]="['/serving/ri/list']">
            <ion-icon color="tertiary" slot="start" name="clipboard" size="large"></ion-icon>
            <ion-label>
                <h3>我的问诊</h3>
            </ion-label>
        </ion-item>
        <ion-item [routerLink]="['/serving/sc/list']">
            <ion-icon color="success" slot="start" name="hammer" size="large"></ion-icon>
            <ion-label>
                <h3>我的维修</h3>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon color="danger" slot="start" name="happy" size="large"></ion-icon>
            <ion-label>
                <h3>技术支持</h3>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list lines="full">
        <ion-item>
            <ion-icon color="warning" slot="start" name="settings" size="large"></ion-icon>
            <ion-label>
                <h3>系统设置</h3>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
