<ion-header>
    <ion-toolbar>
        <ion-title>我的</ion-title>
        <ion-buttons slot="end">
                <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="light">
    <ion-list lines="full">
        <ion-item [routerLink]="['/base/uc/detail']" >
            <ion-icon color="primary" slot="start" name="person" size="large"></ion-icon>
            <ion-label>
                <h2>{{UserInfo["lastname"]}}{{UserInfo["firstname"]}}</h2>
                <p>{{UserInfo["mcs_dealername"]}}</p>
            </ion-label>
        </ion-item>

    </ion-list>

    <ion-list lines="full">
        <ion-item [routerLink]="['/serving/home/message']">
            <ion-icon color="primary" slot="start" name="notifications" size="large"></ion-icon>
            <ion-label>
                <h3>我的消息</h3>
            </ion-label>
        </ion-item>
        <ion-item [routerLink]="['/serving/mycustomer/list']">
            <ion-icon color="primary" slot="start" name="contacts" size="large"></ion-icon>
            <ion-label>
                <h3>我的客户</h3>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list lines="full">
        <ion-item [routerLink]="['/serving/reservation/list']">
            <ion-icon  color="primary" slot="start" name="alarm" size="large"></ion-icon>
            <ion-label>
                <h3>我的预约</h3>
            </ion-label>
        </ion-item>
        <ion-item [routerLink]="['/serving/ri/list']">
            <ion-icon  color="primary"  slot="start" name="clipboard" size="large"></ion-icon>
            <ion-label>
                <h3>我的问诊</h3>
            </ion-label>
        </ion-item>
        <ion-item [routerLink]="['/serving/sc/list']">
            <ion-icon  color="primary" slot="start" name="hammer" size="large"></ion-icon>
            <ion-label>
                <h3>我的维修</h3>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list lines="full">
        <ion-item [routerLink]="['/base/sys/systemsetup']">
            <ion-icon  color="primary"  slot="start" name="settings" size="large"></ion-icon>
            <ion-label>
                <h3>系统设置</h3>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
