<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>首页</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="appointment">
        <ion-icon name="mail"></ion-icon>
          <ion-label>消息</ion-label>
          <ion-badge color="danger" >10</ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="analytics">
          <ion-icon name="analytics"></ion-icon>
          <ion-label>统计报表</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>