<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/saleing/deliverycentercarstock/list"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-label>整车库存台帐明细</ion-label>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="full">
        <ion-item-divider color="primary">
            <ion-label>
                基本信息
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>
                <h2>
                    VIN
                </h2>
                <p>{{mod.data.deliverycentercarstock["mcs_name"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    发动机号
                </h2>
                <p>{{mod.data.vehicle["mcs_enginennumber"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    电机型号
                </h2>
                <p>{{mod.data.vehicle["mcs_motormodel"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    电机序列号
                </h2>
                <p>{{mod.data.vehicle["mcs_motorserialnumber"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    电池型号
                </h2>
                <p>{{mod.data.vehicle["mcs_batterymodel"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    电池序列号
                </h2>
                <p>{{mod.data.vehicle["mcs_batteryserialnumber"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    涂装上线日期
                </h2>
                <p>{{mod.data.vehicle["mcs_paintingdatetime@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    焊装上线日期
                </h2>
                <p>{{mod.data.vehicle["mcs_weldingdatetime@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    总装上线日期
                </h2>
                <p>{{mod.data.vehicle["mcs_finaldatetime@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    计划收车日期
                </h2>
                <p>{{mod.data.vehicle["mcs_finishdatetime@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    入库日期
                </h2>
                <p>{{mod.data.vehicle["mcs_inbounddatetime@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    出库日期
                </h2>
                <p>{{mod.data.vehicle["mcs_outbounddatetime@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    厅店入库日期
                </h2>
                <p>{{mod.data.dealercarmovein["mcs_moveon@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    厅店出库日期
                </h2>
                <p>{{mod.data.deliverycentercarstock["mcs_salesdate@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item-divider color="primary">
            <ion-label>
                整车物料
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>
                <h2>
                    车平台
                </h2>
                <p>{{mod.data.vehiclematerial["_mcs_carplatformid_value@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    基本车型
                </h2>
                <p>{{mod.data.vehiclematerial["_mcs_carmodelid_value@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    车型年
                </h2>
                <p>{{mod.data.vehiclematerial["mcs_caryear@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    动力类型
                </h2>
                <p>{{mod.data.vehiclematerial["_mcs_powertypeid_value@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    驱动动力
                </h2>
                <p>{{mod.data.vehiclematerial["_mcs_drivingpowerid_value@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    内饰颜色
                </h2>
                <p>{{mod.data.vehiclematerial["_mcs_incolourid_value@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    外饰颜色
                </h2>
                <p>{{mod.data.vehiclematerial["_mcs_excolourid_value@OData.Community.Display.V1.FormattedValue"]}}&nbsp;</p>
            </ion-label>
        </ion-item>
    </ion-list>


</ion-content>
