<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/sc/edit2"></ion-back-button>
        </ion-buttons>
        <ion-title>维修项目</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-label>维修项目</ion-label>
            </ion-card-title>
        </ion-card-header>
        <ion-list lines="full">

            <ion-item (click)="presentWorkingModal()">
                <ion-label position="stacked">
                    <ion-icon slot="end" name="search"></ion-icon>
                    代码
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <p>{{mod.data["code"]}}&nbsp;</p>
            </ion-item>
            <ion-item (click)="presentWorkingModal()">
                <ion-label position="stacked">
                    <ion-icon name="lock"></ion-icon>
                    名称
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <p>{{mod.data["name"]}}&nbsp;</p>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <ion-icon name="lock"></ion-icon>
                    维修类别
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <p>{{mod.data["repairitemtypeid_Formatted"]}}&nbsp;</p>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <ion-icon name="lock"></ion-icon>
                    维修类型
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <p>{{mod.data["repairitemtypedetailid_Formatted"]}}&nbsp;</p>

            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <ion-icon name="lock"></ion-icon>
                    工时
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="number" [(ngModel)]="mod.data['workinghour']"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <ion-icon name="lock"></ion-icon>
                    单价
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="number" [(ngModel)]="mod.data['price']"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <ion-icon name="lock"></ion-icon>
                    折扣
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="number" [(ngModel)]="mod.data['discount']"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">
                    <ion-icon name="lock"></ion-icon>
                    维修费用
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <p>{{mod.data["repairamount"]}}&nbsp;</p>
            </ion-item>

        </ion-list>
        <br />
    </ion-card>
    <section style="text-align:center;">
        <ion-button style="width:40%" color="danger" [routerLink]="['/serving/sc/edit2']">取消</ion-button>
        <ion-button style="width:40%" color="success" (click)="saveOnClick()">确定</ion-button>
    </section>
    <br />
</ion-content>
