<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="返回" defaultHref="/saleing/onlylead/detail"></ion-back-button>
      </ion-buttons>
      <ion-title>
          <ion-label>唯一线索明细</ion-label>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
          <ion-card-title>
              <ion-label>基本信息</ion-label>
          </ion-card-title>
      </ion-card-header>

      <ion-list lines="full">
          <ion-item>
              <ion-label>
                  <h2>
                      姓名
                  </h2>
                  <p>{{mod.data.serviceproxy.customername}}&nbsp;</p>
              </ion-label>
          </ion-item>
          <ion-item>
              <ion-label>
                  <h2>
                      手机
                  </h2>
                  <p>{{mod.data.serviceproxy.carplate}}&nbsp;</p>
              </ion-label>
          </ion-item>
          <ion-item>
              <ion-label>
                  <h2>
                      线索来源
                  </h2>
                  <p>{{mod.data.serviceproxy.customerphone}}&nbsp;</p>
              </ion-label>
          </ion-item>
          <ion-item>
              <ion-label>
                  <h2>
                      称呼
                  </h2>
                  <p>{{mod.data.serviceproxy.dealerid}}&nbsp;</p>
              </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
                <h2>
                    邮箱
                </h2>
                <p>{{mod.data.serviceproxy.dealerid}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    评分
                </h2>
                <p>{{mod.data.serviceproxy.dealerid}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    省
                </h2>
                <p>{{mod.data.serviceproxy.dealerid}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    市
                </h2>
                <p>{{mod.data.serviceproxy.dealerid}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    区
                </h2>
                <p>{{mod.data.serviceproxy.dealerid}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    接待专员
                </h2>
                <p>{{mod.data.serviceproxy.dealerid}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    用车省份
                </h2>
                <p>{{mod.data.serviceproxy.dealerid}}&nbsp;</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>
                    用车城市
                </h2>
                <p>{{mod.data.serviceproxy.dealerid}}&nbsp;</p>
            </ion-label>
        </ion-item>
      </ion-list>
      <br />
  </ion-card>

  <ion-card>
      <ion-card-header>
          <ion-card-title>
              <ion-label>维修项目</ion-label>
          </ion-card-title>
      </ion-card-header>

      <ion-list lines="full">
          <ion-item *ngFor="let item of mod.data.serviceorderrepairitemArray;let key=index">
              <ion-label>
                  <h2>
                      项目名称
                  </h2>
                  <p>
                      {{item.name}}
                  </p>
                  <h2>
                      项目代码
                  </h2>
                  <p>
                      {{item.repairitemid}}
                  </p>
                  <h2>
                      维修类别
                  </h2>
                  <p text-wrap>
                      {{item.repairitemtypeid}}
                  </p>
                  <h2>
                      费用明细
                  </h2>
                  <p>
                      {{item.workinghour}}小时 X {{item.price}}  X {{item.discount}}  =  ￥{{item.repairamount}}
                  </p>
              </ion-label>
          </ion-item>
          <ion-item *ngIf="mod.data.serviceorderrepairitemArray.length===0">
              <ion-label>
                  <p>
                      当前单据没有维修项目
                  </p>
              </ion-label>
          </ion-item>
      </ion-list>
      <br />
  </ion-card>


  <ion-card>
      <ion-card-header>
          <ion-card-title>
              <ion-label>维修项目</ion-label>
          </ion-card-title>
      </ion-card-header>

      <ion-list lines="full">
          <ion-item *ngFor="let item of mod.data.serviceorderpartArray;let key=index">
              <ion-label>
                  <h2>
                      零件名称
                  </h2>
                  <p>
                      {{item.partsname}}
                  </p>
                  <h2>
                      零件代码
                  </h2>
                  <p>
                      {{item.partsid}}
                  </p>
                  <h2>
                      维修类别
                  </h2>
                  <p text-wrap>
                      {{item.repairitemtypeid}}
                  </p>
                  <h2>
                      费用明细
                  </h2>
                  <p>
                      {{item.quantity}} X {{item.price}}  X {{item.discount}}  =  ￥{{item.amount}}
                  </p>
              </ion-label>
          </ion-item>
          <ion-item *ngIf="mod.data.serviceorderpartArray.length===0">
              <ion-label>
                  <p>
                      当前单据没有维修零件
                  </p>
              </ion-label>
          </ion-item>
      </ion-list>
      <br />
  </ion-card>
</ion-content>
