<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="返回" defaultHref="/saleing/onlylead/list"></ion-back-button>
      </ion-buttons>
      <ion-title>
          <ion-label>唯一线索明细</ion-label>
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="tab">
        <ion-segment-button value="infolist" checked (click)="pageOnBind()">
            <ion-label>基础信息</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Linklist" (click)="pageOnLogCalllist()">
            <ion-label>跟进记录</ion-label>
        </ion-segment-button>

        <ion-segment-button value="Breedlist" (click)="pageOnActivitylist()">
            <ion-label>培育任务</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="tab">
     <div *ngSwitchCase="'infolist'">
        <ion-list lines="full">
            <ion-item>
                <ion-label>
                    <h2>
                        姓名
                    </h2>
                    <p>{{mod.data.mcs_name}}&nbsp;</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>
                        手机
                    </h2>
                    <p>{{mod.data.mcs_mobilephone}}&nbsp;</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>
                        线索来源
                    </h2>
                    <p>{{mod.data.mcs_leadorigin}}&nbsp;</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <h2>
                        称呼
                    </h2>
                    <p>{{mod.data.mcs_gender}}&nbsp;</p>
                </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                  <h2>
                      邮箱
                  </h2>
                  <p>{{mod.data.mcs_emailaddress1}}&nbsp;</p>
              </ion-label>
          </ion-item>
          <ion-item>
              <ion-label>
                  <h2>
                      评分
                  </h2>
                  <p>{{mod.data.mcs_accountpoints}}&nbsp;</p>
              </ion-label>
          </ion-item>
          <ion-item>
              <ion-label>
                  <h2>
                      省
                  </h2>
                  <p>{{mod.data.mcs_provinceid}}&nbsp;</p>
              </ion-label>
          </ion-item>
          <ion-item>
              <ion-label>
                  <h2>
                      市
                  </h2>
                  <p>{{mod.data.mcs_cityid}}&nbsp;</p>
              </ion-label>
          </ion-item>
          <ion-item>
              <ion-label>
                  <h2>
                      区
                  </h2>
                  <p>{{mod.data.mcs_districtid}}&nbsp;</p>
              </ion-label>
          </ion-item>         
          <ion-item>
              <ion-label>
                  <h2>
                      用车省份
                  </h2>
                  <p>{{mod.data.mcs_usecarprovince}}&nbsp;</p>
              </ion-label>
          </ion-item>
          <ion-item>
              <ion-label>
                  <h2>
                      用车城市
                  </h2>
                  <p>{{mod.data.mcs_usecarcity}}&nbsp;</p>
              </ion-label>
          </ion-item>
        </ion-list>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button>
                <ion-icon name="arrow-dropup"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button [routerLink]="['/saleing/contactrecord/edit']" [queryParams]="{id:mod.data.mcs_onlyleadid}" color="primary"><ion-icon name="add"></ion-icon>联络</ion-fab-button>
                <ion-fab-button [routerLink]="['/saleing/cultivatetask/edit']" [queryParams]="{sourid:mod.data.mcs_onlyleadid,type:'1'}" color="primary"><ion-icon name="add"></ion-icon>培育</ion-fab-button>
                <ion-fab-button [routerLink]="['/saleing/account/edit']" [queryParams]="{onlyleadid:mod.data.mcs_onlyleadid}" color="primary"><ion-icon name="add"></ion-icon>销售</ion-fab-button>
                <ion-fab-button [routerLink]="['/saleing/onlylead/edit']" [queryParams]="{onlyleadid:mod.data.mcs_onlyleadid}" color="primary"><ion-icon name="create"></ion-icon>编辑</ion-fab-button>
            </ion-fab-list>
        </ion-fab>

     </div>
     <div *ngSwitchCase="'Linklist'">
           <!--  <ion-refresher slot="fixed" (ionRefresh)="doRefreshLog()">
            <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
            </ion-refresher-content>
            </ion-refresher> -->
            <ion-list lines="full" >
             <ion-item-sliding *ngFor="let r of mod.datalist">
                <ion-item>
                    <ion-label>
                        <h2>回访时间：{{FormatToDateTime(r.mcs_visittime)}}</h2>
                        <p>回访时间：{{r.mcs_results}}</p>
                        <p>回访内容：{{r.mcs_content}}</p>
                    </ion-label>
                    <ion-icon *ngIf="" name="phone-portrait" size="small"></ion-icon>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="tertiary" expandable [routerLink]="['/saleing/contactrecord/edit']" [queryParams]="{mcslogcallid:r.mcs_logcallid}">
                        编辑
                    </ion-item-option>
                   
                </ion-item-options>
             </ion-item-sliding>
            </ion-list>
            <ion-row *ngIf="mod.isending">
                <ion-col class="nodata" text-center>
                    没有更多logcall
                </ion-col>
            </ion-row>
         <!--    <ion-infinite-scroll #myInfiniteScroll threshold="100px" (ionInfinite)="doNextLoadingLog()"> 
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多..."> 
                </ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button [routerLink]="['/saleing/contactrecord/edit']" [queryParams]="{id:mod.data.mcs_onlyleadid}">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>
     </div>
     <div *ngSwitchCase="'Breedlist'">
            <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefreshAc()">
            <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
            </ion-refresher-content>
            </ion-refresher> -->
            <ion-list lines="full" >
            <ion-item-sliding *ngFor="let r of mod.datalist2">
                <ion-item>
                    <ion-label>
                        <h2>跟进时间：{{FormatToDateTime(r.createdon)}}</h2>                                          
                        <p>任务状态：{{r.mcs_activitystatus}}</p>      
                        <p>重要级别：{{r.mcs_importantlevel}}</p>      
                        <p>本次跟进内容：{{r.mcs_thisfollowupcontent}}</p>              
                    </ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="tertiary" [routerLink]="['/saleing/cultivatetask/edit']" [queryParams]="{id:r.mcs_activityid}">
                        编辑
                    </ion-item-option>               
                </ion-item-options>
            </ion-item-sliding>
            </ion-list>
            <ion-row *ngIf="mod.isending2">
                <ion-col class="nodata" text-center>
                    没有更多培育任务
                </ion-col>
            </ion-row>
           <!--  <ion-infinite-scroll #myInfiniteScroll threshold="100px" (ionInfinite)="doNextLoadingAc()"> 
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多..."> 
                </ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button [routerLink]="['/saleing/cultivatetask/edit']" [queryParams]="{sourid:mod.data.mcs_onlyleadid,type:'1'}">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>
     </div>
    </div>
    
</ion-content>

