<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/mycustomer/list"></ion-back-button>
        </ion-buttons>
        <ion-title>{{mod.data.vehowner.fullname}}</ion-title>
    </ion-toolbar>

    <ion-toolbar>
        <ion-segment [(ngModel)]="tab" color="primary">
            <ion-segment-button value="info">
                <ion-label>基础信息</ion-label>
            </ion-segment-button>
            <ion-segment-button value="data">
                <ion-label>跟进记录</ion-label>
            </ion-segment-button>
            <ion-segment-button value="att">
                <ion-label>维修履历</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div [ngSwitch]="tab">
        <div *ngSwitchCase="'info'">
            <ion-list lines="full">
                <ion-item-divider color="primary">
                    <ion-label>
                        车主信息
                    </ion-label>
                </ion-item-divider>
                <ion-item>
                    <ion-label>
                        <h2>
                            姓名
                        </h2>
                        <p>{{mod.data.vehowner.fullname}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            证件类型
                        </h2>
                        <p>{{mod.data.vehowner.idtype}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            证件号码
                        </h2>
                        <p>{{mod.data.vehowner.identitycard}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>
                        <h2>
                            客户标签
                        </h2>
                        <ion-text>
                            <ion-chip *ngFor="let item of mod.data.tagArray;let key=index" color="success">
                                {{item.name}}
                            </ion-chip>
                        </ion-text>
                        &nbsp;
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            送修人
                        </h2>
                        <p>{{mod.data.vehowner.shuttlename}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            送修人手机
                        </h2>
                        <p>{{mod.data.vehowner.shuttlephone}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item-divider color="primary">
                    <ion-label>
                        车辆信息
                    </ion-label>
                </ion-item-divider>
                <ion-item>
                    <ion-label>
                        <h2>
                            VIN
                        </h2>
                        <p>{{mod.data.vehowner.name}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            发动机号
                        </h2>
                        <p>{{mod.data.vehowner.enginennumber}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            车型
                        </h2>
                        <p>{{mod.data.vehowner.vehtype}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            销售日期
                        </h2>
                        <p>{{mod.data.vehowner.salesdate}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            生产日期
                        </h2>
                        <p>{{mod.data.vehowner.prodtime}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            下次保养日期
                        </h2>
                        <p>{{mod.data.vehowner.nextmaintainat}}&nbsp;</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <h2>
                            下次保养里程
                        </h2>
                        <p>{{mod.data.vehowner.nextmaintainmileage}}&nbsp;</p>
                    </ion-label>
                </ion-item>


            </ion-list>
        </div>
        <div *ngSwitchCase="'data'">
            <ion-list lines="full">
                <ion-item-divider color="primary">
                    <ion-label>
                        跟进记录
                    </ion-label>
                </ion-item-divider>
                <ion-item *ngFor="let item of mod.data.customerfollowuplogArray;let key=index">
                    <ion-label>
                        <h2>
                            跟进人
                        </h2>
                        <p>
                            {{item.createdby}}
                        </p>
                        <h2>
                            跟进时间
                        </h2>
                        <p>
                            {{item.createdon}}&nbsp;
                        </p>
                        <h2>
                            跟进内容
                        </h2>
                        <p text-wrap>
                            {{item.remark}}&nbsp;
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item *ngIf="mod.data.customerfollowuplogArray.length===0">
                    <ion-label>
                        <p>
                            当前客户没有跟进记录
                        </p>
                    </ion-label>
                </ion-item>

            </ion-list>
        </div>
        <div *ngSwitchCase="'att'">
            <ion-list lines="full">
                <ion-item-divider color="primary">
                    <ion-label>
                        维修履历
                    </ion-label>
                </ion-item-divider>
                <ion-item *ngFor="let item of mod.data.serviceproxyResumeArray;let key=index" [routerLink]="['/serving/sc/detail']" [queryParams]="{id:item.Id}">
                    <ion-icon color="success" name="document"></ion-icon>
                    <ion-label style="margin-left:10px">
                        <h6>{{item["Attributes"]["mcs_name"]}}</h6>
                        <p>{{item["Attributes"]["mcs_carplate"]}}&nbsp;&nbsp;</p>
                        <p>{{item["Attributes"]["createdon@OData.Community.Display.V1.FormattedValue"]}}</p>
                        <p>{{item["Attributes"]["_mcs_dealerid_value@OData.Community.Display.V1.FormattedValue"]}}</p>
                    </ion-label>
                    <ion-label style="text-align:right;">
                        <p>{{item["Attributes"]["mcs_ordertype@OData.Community.Display.V1.FormattedValue"]}}</p>
                    </ion-label>
                </ion-item>
                <ion-item *ngIf="mod.data.serviceproxyResumeArray.length===0">
                    <ion-label>
                        <p>
                            当前车辆没有维修履历
                        </p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="success" [routerLink]="['/serving/mycustomer/edit']"><ion-icon name="add"></ion-icon></ion-fab-button>
            <ion-fab-button color="warning" [routerLink]="['/serving/mycustomer/edit']" [queryParams]="{id:mod.data.id,actionCode:2}"><ion-icon name="create"></ion-icon></ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>
