<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="/saleing/delivery/list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-label>交车单详情</ion-label>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="tab" color="danger">
      <ion-segment-button value="infolist" checked  (ionSelect)="pageOnBind()">
        <ion-label>基础信息</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Linklist" (ionSelect)="pageOnLogCalllist()">
        <ion-label>收款记录</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Breedlist" (ionSelect)="pageOnActivitylist()">
        <ion-label>整车物料</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'infolist'">
        <ion-card>
            <ion-card-content>
                <ion-list>
                    <ion-item-group> 
                        <ion-item>
                            <ion-label>
                                <h2>VIN</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.vin}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>交车单号</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.code}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>交车状态</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.deliverystatus}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>整车订单号</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.ro}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>结清状态</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.settlestatus}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>交车时间</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.deliveryon}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>预约时间</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.appointmenton}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>客户约定</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.customerrequest}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>厅店应收金额</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.receiptamount}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>是否提交PDI检测</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.submitpdi}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>PDI检测结果</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.pdiapproval}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>PDI检测时间</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.pdidetecton}}</p>
                            </ion-note>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <h2>服务顾问</h2>
                            </ion-label>
                            <ion-note slot="end">
                                <p>{{model.info.serviceproxyid}}</p>
                            </ion-note>
                        </ion-item>
                    </ion-item-group>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngSwitchCase="'Linklist'">
        <ion-list lines="full">
            <ion-item-sliding *ngFor="let item of orderpaymodel.orderpayrecords;let key=index">
                <ion-item [routerLink]="['/saleing/orderpaydetail/detail']" [queryParams]="{id:item.id}">
                    <ion-icon slot="start" color="primary" name="cash" size="large"></ion-icon>
                    <ion-label>
                        <h2>{{item.code}}</h2>
                        <p>{{item.amount}}</p>
                        <p>{{item.createdon}}</p>
                    </ion-label> 
                    <ion-note slot="end">
                            {{item.type}}
                        </ion-note>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="tertiary" expandable [routerLink]="['/saleing/orderpaydetail/detail']"
                        [queryParams]="{id:item.id}">
                        详情
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-label *ngIf="this.orderpaymodel.isending" text-center>
            <p>
                没有更多的记录显示啦
            </p>
        </ion-label>
        <ion-infinite-scroll #myInfiniteScroll threshold="100px" (ionInfinite)="doLoading($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <div *ngSwitchCase="'Breedlist'">
    </div>
  </div>
</ion-content>