<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/saleing/delivery/list"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-label>交车单详情</ion-label>
        </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="tab" color="primary">
            <ion-segment-button value="infolist" checked (ionSelect)="pageOnBind()">
                <ion-label>基础信息</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Linklist" (ionSelect)="pageOnLogCalllist()">
                <ion-label>收款记录</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Breedlist" (ionSelect)="getorderstatus()">
                <ion-label>订单跟踪</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div [ngSwitch]="tab">
        <div *ngSwitchCase="'infolist'">
            <ion-card>
                <ion-card-content>
                    <ion-list>
                        <ion-item-group>
                            <ion-item-divider color="primary">
                                <ion-label>基本信息</ion-label>
                            </ion-item-divider>
                            <ion-item>
                                <ion-label>
                                    <h2>VIN</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.vin}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>交车单号</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.code}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>交车状态</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.deliverystatus}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>整车订单号</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.ro}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>结清状态</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.settlestatus}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>交车时间</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.deliveryon}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>预约时间</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.appointmenton}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>客户约定</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.customerrequest}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>厅店应收金额</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.receiptamount}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>是否提交PDI检测</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.submitpdi}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>PDI检测结果</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.pdiapproval}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>PDI检测时间</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.pdidetecton}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>服务顾问</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.serviceproxyid}}</p>
                                </ion-note>
                            </ion-item>
                        </ion-item-group>
                    </ion-list>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-content>
                    <ion-list>
                        <ion-item-group>
                            <ion-item-divider color="primary">
                                <ion-label>物料信息</ion-label>
                            </ion-item-divider>
                            <ion-item>
                                <ion-label>
                                    <h2>车平台</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{materielmodel.data.cpt}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>基本车型</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{materielmodel.data.jbcx}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>车型年</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{materielmodel.data.cxn}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>动力类型</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{materielmodel.data.dllx}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>内饰颜色</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{materielmodel.data.nsys}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>外饰颜色</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{materielmodel.data.wsys}}</p>
                                </ion-note>
                            </ion-item>
                        </ion-item-group>
                    </ion-list>
                </ion-card-content>
            </ion-card>
            <ion-fab vertical="bottom" horizontal="end">
                <ion-fab-button>
                    <ion-icon name="arrow-dropup"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="top">
                    <ion-fab-button *ngIf="model.status==2" color="primary" style="width:60px;"
                        [routerLink]="['/saleing/delivery/pdiservice']" [queryParams]="{id:model.id}">PDI检测
                    </ion-fab-button>
                    <ion-fab-button *ngIf="model.status==3" color="success" style="width:60px;"
                        [routerLink]="['/saleing/delivery/appointment']" [queryParams]="{id:model.id}">预约交车
                    </ion-fab-button>
                    <ion-fab-button color="danger" *ngIf="model.settles==0" style="width:60px;"
                        [routerLink]="['/saleing/orderpaydetail/edit']" [queryParams]="{id:model.id}">
                        收取尾款</ion-fab-button>
                    <ion-fab-button color="dark" *ngIf="model.status==4" style="width:60px;"
                        (click)="presentAlertConfim()">
                        收款完成
                    </ion-fab-button>
                </ion-fab-list>
            </ion-fab>
        </div>
        <div *ngSwitchCase="'Linklist'">
            <ion-list lines="full">
                <ion-item-sliding *ngFor="let item of orderpaymodel.orderpayrecords;let key=index">
                    <ion-item [routerLink]="['/saleing/orderpaydetail/detail']" [queryParams]="{id:item.id}">
                        <ion-icon slot="start" color="primary" name="cash" size="large"></ion-icon>
                        <ion-label>
                            <h2>{{item.code}}</h2>
                            <p>{{item.amount}}</p>
                            <p>{{item.createdon}}</p>
                        </ion-label>
                        <ion-note slot="end">
                            {{item.type}}
                        </ion-note>
                    </ion-item>
                    <ion-item-options side="end">
                        <ion-item-option color="tertiary" expandable [routerLink]="['/saleing/orderpaydetail/detail']"
                            [queryParams]="{id:item.id}">
                            详情
                        </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
            <ion-label *ngIf="this.orderpaymodel.isending" text-center>
                <p>
                    没有更多的记录显示啦
                </p>
            </ion-label>
            <ion-infinite-scroll #myInfiniteScroll threshold="100px" (ionInfinite)="doLoading($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
        <div *ngSwitchCase="'Breedlist'">
            <ion-card>
                <ion-card-content>
                    <ion-list>
                        <ion-item-group>
                            <ion-item>
                                <ion-label>
                                    <h2>VIN</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.vin}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>交车单号</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.code}}</p>
                                </ion-note>
                            </ion-item>
                            <ion-item>
                                <ion-label>
                                    <h2>整车订单号</h2>
                                </ion-label>
                                <ion-note slot="end">
                                    <p>{{model.info.ro}}</p>
                                </ion-note>
                            </ion-item>
                        </ion-item-group>
                    </ion-list>
                </ion-card-content>
            </ion-card>

            <div class="timeline-small">
                <div class="timeline-small-body">
                    <ul>
                        <li>
                            <div class="bullet pink"></div>
                            <div class="date">PDI检测未提交</div>
                            <div class="desc">
                                <h4>是否提交PDI检测：未提交</h4>
                                    <h4>交车状态：PDI检测未提交</h4>
                            </div>
                        </li>
                        <li>
                            <div class="bullet orange"></div>
                            <div class="date">PDI检测已提交</div>
                            <div class="desc">
                                <h4>PDI检测提交时间：2019-08-23</h4>
                                <h4>交车状态：PDI检测未提交</h4>
                            </div>
                        </li>
                        <li>
                            <div class="bullet blue"></div>
                            <div class="date">PDI检测完成</div>
                            <div class="desc">
                                <h4>交车状态：PDI检测未提交</h4>
                                <h4>PDI检测时间：2019-09-29</h4>
                            </div>
                        </li>
                        <li>
                            <div class="bullet green"></div>
                            <div class="date">预约完成</div>
                            <div class="desc">
                                    <h4>交车状态：PDI检测未提交</h4>
                                    <h4>预约时间：2019-09-29</h4>
                            </div>
                        </li>
                        <li>
                                <div class="bullet green"></div>
                                <div class="date">交车完成</div>
                                <div class="desc">
                                        <h4>交车状态：PDI检测未提交</h4>
                                        <h4>交车时间：2019-09-29</h4>
                                </div>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</ion-content>