<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>个人资料</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-text color="danger">*</ion-text>
      <ion-label>
        <h2>姓名：</h2>
      </ion-label>
      <ion-note slot="end">
        <p>{{model.info.username}}</p>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-text color="danger">*</ion-text>
      <ion-label>
        <h2>手机号：</h2>
      </ion-label>
      <ion-note slot="end">
        <p>{{model.info.mobile}}</p>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>性别：</h2>
      </ion-label>
      <ion-note slot="end">
        <p>{{model.info.gender}}</p>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>邮箱：</h2>
      </ion-label>
      <ion-note slot="end">
        <p>{{model.info.mail}}</p>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>省</h2>
      </ion-label>
      <ion-note slot="end">
        <p>{{model.info.province}}</p>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>市</h2>
      </ion-label>
      <ion-note slot="end">
        <p>{{model.info.city}}</p>
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>区</h2>
      </ion-label>
      <ion-note slot="end">
        <p>{{model.info.area}}</p>
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-button expand="block"   color="medium" (click)="saveOnClick()">修改</ion-button>
  </ion-list>
</ion-content>