.content{
    margin: 10px 20px;
    
}
ion-list {
    ion-item{
        --background: #f5f5f5;
        --padding-start:15px;
        --padding-end:15px;
        --margin-start:15px;
        --margin-end:15px;
        --border-width:0px;
        ion-label{
            --border-width:0px;
        }
        h2{
            font-size: 14px;
            font-weight: 100px;
        }
        ion-note{
            font-size: 12px;
        }
    }
}

ion-toolbar{
    --border-width:0px;
}
.item-inner{
    flex:0px!important;
}