/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*列表的图标样式*/

.header-ion-avatar{
    background-color: #237cca;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    height: 45px;
    width: 45px;
    font-size: 18px;
    color: #ffffff;
    margin-right: 5px;
}
.bggray{
    background-color: #cccccc;
}
.bgorage{
    background-color: #ffaf1d;
}
.bgred{
    background-color: #ff0000;
}
// .headionc{
//     background-color: #237cca;
//     -moz-border-radius: 50%;
//     -webkit-border-radius: 50%;
//     text-align: center;
//     vertical-align: middle;
//     padding-top: 10px;
//     height: 50px;
//     width: 50px;
//     font-size: 20px;
//     color: #ffffff;
//     margin-right: 5px;
// }
