<ion-header translucent>
  <ion-toolbar>
    <ion-title>选择整车订单(大订)</ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="dismissModal()">关闭</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="model.params.SearchKey" placeholder="支持编码查找" (keyup)="searchOnKeyup($event)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
      <ion-item-sliding *ngFor="let item of model.data;let key=index">
          <ion-item (click)="itemClick(item)">
              <ion-label>
                  <p>{{item.mcs_code}}</p>                         
              </ion-label>         
          </ion-item>
      </ion-item-sliding>
  </ion-list>
  
</ion-content>