<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>创建或编辑技术支持</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item-divider color="primary">
            <ion-label>
                基本信息
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label position="stacked">
                主题
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input placeholder="请输入主题" maxlength="12" [(ngModel)]="model.postData.mcs_title" required></ion-input>
        </ion-item>
        <ion-item (click)="presentServiceModal()">
            <ion-label position="stacked">
                <ion-icon name="search"></ion-icon>
                服务委托书
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <p>{{model.viewData.mcs_serviceorderid_name}}&nbsp;</p>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                服务顾问
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <p>{{model.viewData.username}}&nbsp;</p>
        </ion-item>
        <ion-item (click)="presentSystemUserModal()">
            <ion-label position="stacked">
                <ion-icon name="search"></ion-icon>
                技术主管
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <p>{{model.viewData.mcs_repairnameidname}}&nbsp;</p>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                维修时间
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime cancelText="取消" doneText="确定" placeholder="请选择维修时间" display-format="YYYY-MM-DD HH:mm" [(ngModel)]="model.postData.mcs_repairdate"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                电子邮件
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input placeholder="请输入电子邮件" maxlength="12" [(ngModel)]="model.postData.mcs_email" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                手机号码
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input placeholder="请输入手机号码" maxlength="12" [(ngModel)]="model.postData.mcs_phone" required></ion-input>
        </ion-item>

        <ion-item-divider color="primary">
            <ion-label>
                车辆信息
            </ion-label>
        </ion-item-divider>

        <ion-item (click)="presentCustomerModal()">
            <ion-label position="stacked">
                <ion-icon name="search"></ion-icon>
                车主姓名
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <p>{{model.viewData.mcs_customername}}&nbsp;</p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                车主手机
            </ion-label>
            <p>{{model.postData.mcs_customerphone}}&nbsp;</p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                车牌号
            </ion-label>
            <p>{{model.postData.mcs_carplate}}&nbsp;</p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                车型
            </ion-label>
            <p>{{model.viewData.mcs_cartypeidname}}&nbsp;</p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                VIN
            </ion-label>
            <p>{{model.viewData.vin}}&nbsp;</p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                发动机号
            </ion-label>
            <p>{{model.postData.mcs_enginenumber}}&nbsp;</p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                里程数
            </ion-label>
            <p>{{model.postData.mcs_mileage}}&nbsp;</p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                电机型号
            </ion-label>
            <p>{{model.postData.mcs_motormodel}}&nbsp;</p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                电池型号
            </ion-label>
            <p>{{model.postData.mcs_batterymodel}}&nbsp;</p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock"></ion-icon>
                电池序列号
            </ion-label>
            <p>{{model.postData.mcs_batteryserialnumber}}&nbsp;</p>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                是否加装
            </ion-label>
            <ion-toggle slot="end" color="secondary" checked [(ngModel)]="model.postData.mcs_ismodifiedparts"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">加装描述</ion-label>
            <ion-textarea placeholder="请输入加装描述信息" [(ngModel)]="model.postData.mcs_modifiedpartscontent"></ion-textarea>
        </ion-item>


        <ion-item-divider color="primary">
            <ion-label>
                故障信息
            </ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label position="stacked">技术系统</ion-label>
            <ion-select [(ngModel)]="model.postData.mcs_techsystem" value="" okText="确认" cancelText="取消">
                <ion-select-option value="10">车身</ion-select-option>
                <ion-select-option value="20">底盘</ion-select-option>
                <ion-select-option value="30">电器</ion-select-option>
                <ion-select-option value="40">三电</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item (click)="presentMalFunctionTypeModal()">
            <ion-label position="stacked">
                <ion-icon name="search"></ion-icon>
                故障类别代码
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <p>{{model.viewData.mcs_malfunctiontype_value}}&nbsp;</p>
        </ion-item>


        <ion-item-divider color="primary">
            <ion-label>
                其他
            </ion-label>
        </ion-item-divider>

        <ion-item>
            <ion-label position="stacked">技师疑问</ion-label>
            <ion-textarea placeholder="请输入技师疑问" [(ngModel)]="model.postData.mcs_techqueries"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">检测诊断描述</ion-label>
            <ion-textarea placeholder="请输入检测诊断描述" [(ngModel)]="model.postData.mcs_diagnosiscontent"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">已更换零件</ion-label>
            <ion-textarea placeholder="请输入已更换零件" [(ngModel)]="model.postData.mcs_replacedparts"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">具体故障现象</ion-label>
            <ion-textarea placeholder="请输入具体故障现象" [(ngModel)]="model.postData.mcs_malfunctioncontent"></ion-textarea>
        </ion-item>


        <ion-item-divider color="primary">
            <ion-label>
                附件信息
            </ion-label>
        </ion-item-divider>

        <ion-item (click)="presentFileModal()">
            <ion-label position="stacked">
                <ion-icon name="search"></ion-icon>
                附件上传
            </ion-label>
            <p text-wrap>
                <span *ngFor="let item of model.fileArray">
                    <img style="width:80px; height:80px; margin-left:5px" src="{{item['url']}}" />
                </span>
            </p>
        </ion-item>

    </ion-list>

    <section style="text-align:center;">
        <ion-button style="width:40%" color="danger" (click)="save()">保存</ion-button>
    </section>
    <br />
    <br />
</ion-content>
