<ion-header translucent>
  <ion-toolbar>
    <ion-title>选择车辆</ion-title>
    <ion-buttons slot="end"> 
      <ion-icon name="close" size="large" (click)="dismissModal()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
      <ion-item-sliding *ngFor="let item of mod.data;let key=index">
          <ion-item (click)="itemClick(item)">
              <ion-label>
                  <h2>{{item.mcs_username}}</h2>
                  <p>车牌号:{{item.mcs_plate}}</p>
              </ion-label>
          </ion-item>
      </ion-item-sliding>
      <ion-row *ngIf="mod.nodata">
          <ion-col class="nodata" text-center>
            未绑定车辆信息！！！
          </ion-col>
      </ion-row>
  </ion-list>
</ion-content>