<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="/servicecenter/reservation/edit"></ion-back-button>
  </ion-buttons>
    <ion-title>
      <div>订单确认</div>
      </ion-title>
      <ion-buttons slot="end" style="margin-top: 3px; margin-right: 3px;">
        <svg t="1575012653129" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3686" width="25" height="25"><path d="M512 89.5C279.027 89.5 89.5 279.027 89.5 512v295.75c0 69.894 56.856 126.75 126.75 126.75h42.25c69.894 0 126.75-56.856 126.75-126.75V681c0-69.894-56.856-126.75-126.75-126.75H174V512c0-186.37 151.63-338 338-338s338 151.63 338 338v42.25h-84.5c-69.894 0-126.75 56.856-126.75 126.75v126.75c0 69.894 56.856 126.75 126.75 126.75h42.25c69.894 0 126.75-56.856 126.75-126.75V512c0-232.973-189.547-422.5-422.5-422.5zM258.5 638.75c23.291 0 42.25 18.938 42.25 42.25v126.75c0 23.312-18.959 42.25-42.25 42.25h-42.25c-23.291 0-42.25-18.938-42.25-42.25v-169h84.5z m591.5 169c0 23.312-18.938 42.25-42.25 42.25H765.5c-23.312 0-42.25-18.938-42.25-42.25V681c0-23.312 18.938-42.25 42.25-42.25H850v169z" fill="#2D2D2D" p-id="3687"></path></svg>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>车主/车辆信息</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="fixed">车主信息<ion-text color="danger">*</ion-text>:</ion-label>
        <ion-note>{{model.bindData["mcs_customername"]}}&nbsp;{{model.bindData["mcs_customerphone"]}}</ion-note>
      </ion-item>
      <ion-item>
       <ion-label position="fixed">车牌号:</ion-label>
        <ion-note>{{model.bindData["mcs_carplate"]}}&nbsp;</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>经销商信息</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-label position="fixed"> 经销商<ion-text color="danger">*</ion-text>:</ion-label>
      <ion-note>
        <p style="font-weight: bold;color: black;">{{model.bindData["mcs_dealername"]}}</p> 
        <p>{{model.bindData["mcs_shopaddress"]}}</p>
        <p>{{model.bindData["mcs_dealerphone"]}}</p>
    </ion-note>
    </ion-item>
  </ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>预约信息</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="fixed">服务类型<ion-text color="danger">*</ion-text>:</ion-label>
       <ion-note>{{model.bindData["mcs_ordertypename"]}}</ion-note>
  </ion-item>
    <ion-item >
      <ion-label position="fixed">预约日期<ion-text color="danger">*</ion-text>:</ion-label>
      <ion-note>{{FormatToDate(model.bindData["mcs_appointmentat"])}}&nbsp; {{model.bindData["mcs_appointmentconfigname"]}}</ion-note>
  </ion-item>
  <!-- <ion-item>
      <ion-label position="fixed">可预约数量:</ion-label>
      <ion-note slot="end">{{model.bindData["mcs_surplusnum"]}}</ion-note>
  </ion-item> -->
  <ion-item>
    <ion-label position="fixed">客户要求:</ion-label>
    <p>{{model.bindData["mcs_customercomment"]}}</p>
</ion-item>
<ion-item>
    <ion-label position="fixed">问题描述:</ion-label>
    <p>{{model.bindData["mcs_appointmendescript" ]}}</p>
</ion-item>
  </ion-card-content>
</ion-card>
<ion-card >
  <ion-card-header>
    <ion-card-subtitle>服务详情</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <div class="panel">
        <ion-label>服务包名称</ion-label>
        <p> 里程选择:&nbsp;{{model.bindData["mcs_mileagename"]}}</p>
        <p>服务内容:&nbsp;{{model.bindData["mcs_packname"]}}</p>
      </div>
  </ion-item>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
    <ion-row class="cost">
      <ion-col width-50>
      <ion-label>
        <p>￥{{model.bindData['totalcost']}}</p> 
        <p>预计工时:{{model.bindData['totaltime']}}分钟</p>
      </ion-label>
   </ion-col>
    <ion-col> 
      <ion-button Size="small" fill="solid" color="light" (click)="saveOnClick()">提交订单</ion-button>&nbsp;
      <ion-button Size="small" fill="solid" color="light" [routerLink]="['/servicecenter/reservation/edit']">返回编辑</ion-button>
    </ion-col>

  </ion-row>
  </ion-card-content>
</ion-card>
</ion-content>
