<ion-content fullscreen scroll-y="false">
    <ion-slides pager>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="./assets/img/default.png" />
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h3><b>预约维修保养</b></h3>
                        <h4>快速进行客户维修保养预约</h4>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="./assets/img/default.png" />
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h3><b>维修问诊接待</b></h3>
                        <h4>快速进行客户维修保养预约</h4>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="./assets/img/default.png" />
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h3><b>维修开单</b></h3>
                        <h4>及时进行维修开单</h4>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="./assets/img/default.png" />
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h3><b>技术支持</b></h3>
                        <h4>建立技术解决方案</h4>
                        <ion-button [routerLink]="['base/uc/login']">立即体验</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>