ion-item{
    padding:10px 0;
}
.ion-item-addr::after {
    content: "";
    display: inline-block;
    width: 92%;
    margin: 0 4%;
    border-bottom: 2px solid #F7F7F7;
}
.TwoBtnDialog {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    z-index: 1000;
    background-color: white;
    border-radius: 10px 10px 0 0;

    .div-content {
        padding: 20px;
        /*display: flex;
        justify-content: flex-start;*/
        .div-rights {
            padding: 10px 10px 5px 10px;
            width: 100%;
            font-size: 16px;
            color: #fff;
            margin-bottom: 5px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.shade {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
    -moz-opacity: 0.3;
    opacity: .30;
    filter: alpha(opacity=30);
}

.showrights {
    background: #20303d;
}
.hiderights {
    background: #ccc;
}