<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="/saleing/vehnetwork/list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-label>上牌信息明细</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="tab" color="primary">
      <ion-segment-button value="info">
        <ion-label>基础信息</ion-label>
      </ion-segment-button>
      <ion-segment-button value="check">
        <ion-label>附件列表</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'info'">
      <ion-list lines="full">
        <ion-item-divider color="primary">
          <ion-label>
            基本信息
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
            <h2>
              VIN
            </h2>
            <p>{{mod.data.detail["vinname"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              交车单
            </h2>
            <p>{{mod.data.detail["vehdeliverycode"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              交车状态
            </h2>
            <p>{{mod.data.detail["deliverystatus"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              整车订单号
            </h2>
            <p>{{mod.data.detail["vehordercode"]}}&nbsp;</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>
              姓名
            </h2>
            <p>{{mod.data.detail["mcs_fullname"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              身份证号
            </h2>
            <p>{{mod.data.detail["mcs_idcard"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              上牌日期
            </h2>
            <p>{{mod.data.detail["mcs_lisensedate | date:'yyyy-MM-dd HH:mm:ss' "]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              上牌地址
            </h2>
            <p>{{mod.data.detail["mcs_address"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              上牌费用
            </h2>
            <p>{{mod.data.detail["mcs_fee"]}}&nbsp;</p>
          </ion-label>
        </ion-item>


        <ion-item-divider color="primary">
          <ion-label>
            整车订单
          </ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label>
            <h2>
              订单号码
            </h2>
            <p>{{mod.data.detail["vehordercode"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              车主姓名
            </h2>
            <p>{{mod.data.detail["carusename"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              车主手机号
            </h2>
            <p>{{mod.data.detail["contactphone"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              整车订单状态
            </h2>
            <p>{{mod.data.detail["rostatus"]}}&nbsp;</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>
              商城下单时间
            </h2>
            <p>{{mod.data.detail["orderon | date:'yyyy-MM-dd HH:mm:ss' "]}}&nbsp;</p>
          </ion-label>
        </ion-item>
      </ion-list>

    </div>
    <div *ngSwitchCase="'check'">



      <ion-label *ngIf="mod.data.attachment.length===0" text-center>
        <p>
          当前无附件记录
        </p>
      </ion-label>


      <ion-list>
        <ion-item *ngFor="let item of mod.data.attachment">
          <ion-icon name="document" size="large"></ion-icon>
          <ion-label>
            <h2>{{item.mcs_filename}}</h2>
            <p>大小：{{item.mcs_filesize}}</p>
          </ion-label>
          <!-- <ion-button size="default"  color="primary" class="button-outline" (click)="down(item.fileurl)">
                下载  <ion-icon color="primary" name="arrow-down"  ></ion-icon> 
              </ion-button>  -->
        </ion-item>
      </ion-list>
      <section style="text-align:center;">
        <ion-button style="width:80%" color="primary" (click)="presentFileModal(mod.data.detail['id'])">
          上传附件</ion-button>
      </section>
    </div>
  </div>




</ion-content>