<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/saleing/lead/list"></ion-back-button>
        </ion-buttons>
        <ion-title>操作成功</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div style="height: 30px;">
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                    </ion-col>
                    <ion-col>
                        <div style="height: 80px;">
                            <img src="./assets/img/circle.png" />
                        </div>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="title" style="text-align:center">
                        新建留资操作成功
                    </ion-col>
                </ion-row>
                <!--<ion-row>
                    <ion-col>
                        <div class="orderno">
                            单号:D00142019225567
                        </div>
                    </ion-col>
                </ion-row>-->
                <ion-row>
                    <ion-col>
                        <ion-button color="primary" class="button-outline" [routerLink]="['/saleing/lead/detail']" [queryParams]="{id:mod.id}">
                            查看详情
                        </ion-button>
                    </ion-col>
                    <ion-col>
                    </ion-col>
                    <ion-col>
                        <ion-button color="primary" class="button-outline" [routerLink]="['/saleing/lead/edit']">
                            新建留资
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>