<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/set"></ion-back-button>
    </ion-buttons>
    <ion-title>关于我们</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row style="padding-bottom:15px;background: #fff;">
        <ion-col>
          <ion-list lines="none" style="margin-top:15px;">
            <ion-item>
              <img src="../../../../assets/img/carstore/logo.png" style="margin-top: 5%;margin-left: 28%;">
            </ion-item>
            <ion-item>
              <ion-label style="margin-left:24%">
                <h2 style="font-weight:bold">爱车app demo 1.0</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label style="margin-left:20px;">
                <h3>官网</h3>
              </ion-label>
              <ion-label style="margin-right: 0px;text-align: right;color: #9a9a9a;">
                <h3>www.sokon.com</h3>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label style="margin-left:20px;">
                <h3>邮箱</h3>
              </ion-label>
              <ion-label style="margin-right: 0px;text-align: right;color: #9a9a9a;">
                <h3>sokon@sokon.com</h3>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label style="margin-left:20px;">
                <h3>电话</h3>
              </ion-label>
              <ion-label style="margin-right: 0px;text-align: right;color: #9a9a9a;">
                <h3>400-008-9999</h3>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/home/frontcontent']" [queryParams]="{defcode:'pp001'}">
              <ion-label style="margin-left:20px;">
                <h3>隐私条款</h3>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>