.ionatttitle{
    text-align: center;
    font-weight: 600;
}
.ionattbody{ 
    text-align: center;
}
.titleborder{
    border-left: 1px solid #0000006b;
    border-top: 1px solid #0000006b;
    border-bottom: 1px solid #0000006b;
    background-color: #3880ff;
}
.titleborders{
    border-left: 1px solid #0000006b; 
    border-bottom: 1px solid #0000006b;
}
.bodyborder{
    border-right: 1px solid #0000006b;

}