<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="返回" defaultHref="/serving/home/systemsetup"></ion-back-button>
      </ion-buttons>
      <ion-title>关于</ion-title>
      <ion-buttons slot="end">
              <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
  <ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div style="height: 30px;">
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                </ion-col>
                <ion-col>
                    <div style="height: 80px;">
                        <img src="./assets/img/icon.png" />
                    </div>
                </ion-col>
                <ion-col>
                </ion-col>
            </ion-row>
            
        </ion-grid>
        <ion-list lines="full">
            <ion-item>
                <ion-icon  color="primary" slot="start" name="" size="large"></ion-icon>
                <ion-label>
                    
                </ion-label>
            </ion-item>
          <ion-item>
              <ion-icon  color="primary" slot="start" name="" size="large"></ion-icon>
              <ion-label >
                  <h3>当前版本：Version 1.01</h3>
              </ion-label>
          </ion-item>
          <ion-item [routerLink]="">
              <ion-icon  color="primary"  slot="start" name="" size="large"></ion-icon>
              <ion-label>
                  <h3>功能介绍</h3>
              </ion-label>
          </ion-item>
          <ion-item [routerLink]="">
              <ion-icon  color="primary" slot="start" name="" size="large"></ion-icon>
              <ion-label>
                  <h3>投诉</h3>
              </ion-label>
          </ion-item>
          <ion-item [routerLink]="">
              <ion-icon  color="primary"  slot="start" name="" size="large"></ion-icon>
              <ion-label>
                  <h3>版本更新</h3>
              </ion-label>
          </ion-item>
      </ion-list>
    </ion-card-content>
</ion-card>
</ion-content>
