.shade {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 8%;
    background-color: #28aabb;
    z-index: 999;
    opacity: 0.4;
    text-align: center;
    padding: 5% 0;
}
