<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/serving/home/mywork"></ion-back-button>
        </ion-buttons>
        <ion-title>预约单</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar placeholder="支持姓名\手机号\车牌号搜索"></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment>
            <ion-segment-button checked (click)="showlist('')">
                <ion-label>全部</ion-label>
            </ion-segment-button >
            <ion-segment-button (click)="showlist(10)">
                <ion-label>待跟进</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="showlist(20)">
                <ion-label>已跟进</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full"  *ngFor="let r of mod.data">
        <ion-item button="true" mode="ios" [routerLink]="['/serving/reservation/detail']" [queryParams]="{id:r.mcs_appointmentinfoid}" >
            <ion-label>
                <h2>车牌号：{{r.mcs_carplate}}</h2>
                <p>车主姓名：{{r.mcs_customername}}</p>
                <p>预约日期：{{r.mcs_appointmentat}}</p>
                <p>预约时段：{{r.mcs_appointmentconfigid}}</p>
                <p *ngIf="r.mcs_status==10">跟进状态：待跟进</p>
                <p *ngIf="r.mcs_status==20">跟进状态：已跟进</p>
                <p *ngIf="r.mcs_status==30">跟进状态：已入场</p>
                <p *ngIf="r.mcs_status==50">跟进状态：已取消</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
