<ion-header>
    <ion-toolbar>
        <ion-title>首页</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="true">
    <ion-list lines="none">
        <ion-list-header text-center>
            <img src="./assets/img/index.jpg" />
        </ion-list-header>
    </ion-list>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>待办项</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-tab-button [routerLink]="['/serving/reservation/list']">
                    <ion-icon color="primary" size="large" name="document"></ion-icon>
                    <ion-badge color="danger">6</ion-badge>
                    <ion-label>预约单</ion-label>
                </ion-tab-button>
            </ion-col>
            <ion-col>
                <ion-tab-button [routerLink]="['/serving/ri/list']">
                    <ion-icon color="secondary" size="large" name="document"></ion-icon>
                    <ion-label>问诊单</ion-label>
                </ion-tab-button>
            </ion-col>
            <ion-col>
                <ion-tab-button [routerLink]="['/serving/resume/list']">
                    <ion-icon color="tertiary" size="large" name="card"></ion-icon>
                    <ion-badge color="danger">6</ion-badge>
                    <ion-label>维修履历</ion-label>
                </ion-tab-button>
            </ion-col>
            <ion-col>
                <ion-tab-button [routerLink]="['/serving/mycustomer/list']">
                    <ion-icon color="success" size="large" name="contacts"></ion-icon>
                    <ion-label>客户</ion-label>
                </ion-tab-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-tab-button [routerLink]="['/serving/ts/list']">
                    <ion-icon color="warning" size="large" name="document"></ion-icon>
                    <ion-label>技术支持</ion-label>
                </ion-tab-button>
            </ion-col>
            <ion-col>
                <ion-tab-button [routerLink]="['/demo/analytics']">
                    <ion-icon color="danger" size="large" name="analytics"></ion-icon>
                    <ion-label>报表</ion-label>
                </ion-tab-button>
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>工作台</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-tab-button [routerLink]="['/serving/reservation/edit']">
                    <ion-icon color="dark" size="large" name="calendar"></ion-icon>
                    <ion-label>快速预约</ion-label>
                </ion-tab-button>
            </ion-col>
            <ion-col>
                <ion-tab-button [routerLink]="['/serving/ri/edit']">
                    <ion-icon color="medium" size="large" name="archive"></ion-icon>
                    <ion-label>快速问诊</ion-label>
                    <ion-badge color="danger">6</ion-badge>
                </ion-tab-button>
            </ion-col>
            <ion-col>
                <ion-tab-button [routerLink]="['/serving/resume/edit']">
                    <ion-icon color="success" size="large" name="book"></ion-icon>
                    <ion-label>快速开单</ion-label>
                </ion-tab-button>
            </ion-col>
            <ion-col>
                <ion-tab-button [routerLink]="['/serving/ts/edit']">
                    <ion-icon color="primary" size="large" name="cog"></ion-icon>
                    <ion-label>技术支持</ion-label>
                </ion-tab-button>
            </ion-col>
        </ion-row>
        
    </ion-grid>

</ion-content>
