<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/servicecenter/boutique/list"></ion-back-button>
        </ion-buttons>
        <ion-title>{{model.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="padding0">
        <!--轮播图-->
        <ion-row>
            <ion-col class="padding0">
                <ion-slides pager="true">
                    <ion-slide style="width:100%;">
                        <ion-grid class="padding0">
                            <ion-row>
                                <ion-col class="padding0">
                                    <img src="../assets/img/temp/xiaopeng1.jpg" />
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-slide>
                    <ion-slide style="width:100%;">
                        <ion-grid class="padding0">
                            <ion-row>
                                <ion-col class="padding0">
                                    <img src="../assets/img/temp/xiaopeng2.jpg" />
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        <!--商品名称、副标题-->
        <ion-row>
            <ion-col style="padding-left:20px;margin-top:5px">
                <ion-label style="margin-top:30px">
                    <p style="font-size:24px; font-weight:500; color:#000;">
                        无极变色全景天幕
                    </p>
                    <p style="margin-top:10px; font-size:16px;">
                        无极变色全景天幕
                    </p>
                </ion-label>
            </ion-col>
        </ion-row>
        <!--价格-->
        <ion-row style="padding-top:20px; padding-bottom:15px">
            <ion-col style="padding-left:20px;font-weight:bold; color:#2FACE5; ">
                <ion-label style="font-size:18px;">
                    ￥
                </ion-label>
                <ion-label style="font-size:24px;">
                    100.00
                </ion-label>
            </ion-col>
            <ion-col style="padding-right:15px;text-align:right; font-size:16px;">
                <ion-label>
                    <p>
                        快递: 包邮
                    </p>
                </ion-label>
            </ion-col>
        </ion-row>
        <!--规格-->
        <ion-row style="background-color:#F6F6F6;">
            <ion-row style="padding:15px 10px; background-color:#fff; width:100%;margin:20px 0;">
                <ion-col style="padding-left:15px;font-size:16px;">
                    <ion-label style="color:#000;">
                        选择:
                    </ion-label>
                    <ion-label style="color:#a5a2a2;">
                        无极变色全景天幕
                    </ion-label>
                </ion-col>
                <ion-col style="padding-right:15px;text-align:right;">
                    <ion-label style="font-size:22px;line-height:0px;color:#a5a2a2;">
                        >
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-row>
        <!--商品概览-->
        <ion-segment [(ngModel)]="tab" color="primary" model="md" class="segment-custom">
            <ion-segment-button value="probably">
                <ion-label>商品概览</ion-label>
            </ion-segment-button>
            <ion-segment-button value="aftersale">
                <ion-label>售后服务</ion-label>
            </ion-segment-button>
        </ion-segment>
        <div [ngSwitch]="tab">
            <div *ngSwitchCase="'probably'" style="line-height:0;">
                <img src="../assets/img/temp/xiaopengdetail1.jpg" />
                <img src="../assets/img/temp/xiaopengdetail2.jpg" />
                <img src="../assets/img/temp/xiaopengdetail3.jpg" />
                <img src="../assets/img/temp/xiaopengdetail4.jpg" />
                <img src="../assets/img/temp/xiaopengdetail5.jpg" />
                <img src="../assets/img/temp/xiaopengdetail6.jpg" />
            </div>
            <div *ngSwitchCase="'aftersale'">
                <div>
                    售后服务
                </div>
            </div>
        </div>
    </ion-grid>
</ion-content>

<!--<ion-footer align-title="left" class="bar-assertive">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="返回" defaultHref="/servicecenter/boutique/list"></ion-back-button>
        </ion-buttons>
        <ion-title>{{model.title}}</ion-title>
    </ion-toolbar>
</ion-footer>-->

    <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/servicecenter/shoppingcart/list']" style="max-width:110px;">
            <ion-icon name="aperture"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="servicecenter">
            <ion-label style="font-size:20px; color:#000;">加入购物车</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="personalcenter" style="background-color:#38B3EE;">
            <ion-label style="font-size:20px; color:#fff;">立即购买</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

