
ion-avatar{
    height: 50px;
    width: 50px;
}
ion-item{
    h2{
        display: inline-block;
        font-family: Lato, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
        font-weight: 400;
        line-height: 1.2;
        font-size: 14px;
    }
    P{
        font-size: 12px;
    }
    ion-badge{
        position: absolute;
        left: 45px;
        width: 25px;
        top: 0px;
    }
    ion-note{
        font-size: 12px;
    }
}
