h2{
    display: inline-block;
    font-family: Lato, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 18px;
}
ion-avatar{
    height: 50px;
    width: 50px;
}