<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="返回" defaultHref="/serving/home/mywork"></ion-back-button>
      </ion-buttons>
      <ion-title>系统设置</ion-title>
      <ion-buttons slot="end">
              <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
 
  <ion-list lines="full">
      <ion-item>
          <ion-icon  color="primary" slot="start" name="volume-high" size="large"></ion-icon>
          <ion-label>
              <h3>消息通知设置</h3>
          </ion-label>
      </ion-item>
      <ion-item [routerLink]="['/serving/home/change-password']">
          <ion-icon  color="primary"  slot="start" name="clipboard" size="large"></ion-icon>
          <ion-label>
              <h3>修改密码</h3>
          </ion-label>
      </ion-item>
      <ion-item [routerLink]="">
          <ion-icon  color="primary" slot="start" name="logo-buffer" size="large"></ion-icon>
          <ion-label>
              <h3>清除缓存</h3>
          </ion-label>
      </ion-item>
      <ion-item [routerLink]="['/serving/home/about']">
          <ion-icon  color="primary"  slot="start" name="logo-octocat" size="large"></ion-icon>
          <ion-label>
              <h3>关于</h3>
          </ion-label>
      </ion-item>
  </ion-list>

</ion-content>
