
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>$title$</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="keywords" />
    <meta name="description" />
    <meta name="author" content="Lorem ipsum dolor" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }

        /* 设置滚动条的样式 */
        ::-webkit-scrollbar {
            width: 3px;
        }
        /*滚动槽*/
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
            border-radius: 10px;
        }
        /* 滚动条滑块 */
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
        }
    </style>
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        var unSelected = "#999";
        var selected = "#333";
        $(function () {
            //window.parent.postMessage(document.body.scrollHeight, '*');
            $("select").css("color", unSelected);
            $("option").css("color", selected);
            $("select").change(function () {
                var selItem = $(this).val();
                if (selItem == $(this).find('option:first').val()) {
                    $(this).css("color", unSelected);
                } else {
                    $(this).css("color", selected);
                }
            });
        })
        function isEmpty(obj) {
            if (obj === null) return true;
            if (typeof obj === 'undefined') {
                return true;
            }
            if (typeof obj === 'string') {
                if (obj === "") {
                    return true;
                }
                if (obj === "-1") {
                    return true;
                }
                var reg = new RegExp("^([ ]+)|([　]+)$");
                return reg.test(obj);
            }
            return false;
        }


        function getParam(paramName) {
            paramValue = "", isFound = !1;
            if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) {
                arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0;
                while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++
            }
            return paramValue == "" && (paramValue = null), paramValue
        }
       function SubmitClick() {
            var formStrArr = new Array("sltAddress", "btnName", "btnMobile", "sltAppellation", "btnEmail", "sltButPlan", "sltCarColor", "sltCarPlan");

            for (index in formStrArr) {
                var targetItem = $("#" + formStrArr[index]);
                if (targetItem.length > 0 && targetItem.attr("data-required") == "True" && isEmpty(targetItem.val())) {
                    alert(targetItem.attr("data-label") + "不能为空");
                    return false;
                }
            }

             var city = $("#sltAddress").val();
            var name = $("#btnName").val();
            var moblie = $("#btnMobile").val();
            var appellation = $("#sltAppellation").val();
            var email = $("#btnEmail").val();
            var level = $("#sltButPlan").val();
            var color = $("#sltCarColor").val();
            var type = $("#sltCarPlan").val();

              if (city == "-1") {
                city = "";
            }
              if (appellation == "-1") {
                appellation = null;
            }
            if (level == "-1") {
                level = null;
            }
                if (color == "-1") {
                color = "";
            }
               if (type == "-1") {
                type = "";
            }

            var campaignCode =  getParam("campaignCode");
            var dealerCode = getParam("dealerCode");
            //渠道(0：CC，1：官网，2：商城，3：APP，4：微站/H5，5：小程序，6：线下活动，7：到店，8：其他)
            var channel = "1";//getParam("channel");
//电子折页订阅	electronic_folding_subscription
//渠道端用户注册	channel_user_registration
//微信号绑定	wechat_binding
//活动线上报名	activity_online_registration
//线上预约	online_reservation
//第三方来源接入	third_party_source_access
//预售	blind_order
//厅\店来访 visiting_the_store
//活动线下来访	offline_activity
//wifi探针接入	wifi_probe_access
//客户属性修改	customer_info_update
//试乘	test_ride
//试驾	test_drive
            var behaviorCode = "$behavior$";//getParam("behaviorCode");
//官网	official_site
//商城	mall
//小程序	small_program
//APP	app
//第三方媒体	third_party_media
            var mediaCode = "official_site";//getParam("mediaCode");

            $.ajax({
                type: "post",
                url: "$url$api/Lead/Do",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify({
                    Channel: channel,
                    BehaviorCode: behaviorCode,//用户行为 必传
                    CampaignCode: campaignCode,//活动编码 必传
                    MediaCode: mediaCode,//线索媒体 必传
                    TerminalCode: "mobilephone", //线索终端 必传
                    MobilePhone: moblie,
                    CityCode: city,
                    FullName: name,
                    Gender: appellation,
                    EmailAddress1: email,
                    DealerCode: dealerCode,
                    Level: level,
                    VehType: type,
                    Vehcolor: color
                }),
                beforeSend: function (request) {
                    request.setRequestHeader("appid", "1001");
                    request.setRequestHeader("key", "123");
                    request.setRequestHeader("md5sum", "123");
                    request.setRequestHeader("true-client-ip", "123");
                },
                success: function (data) {
                    if (data.Code == "0000") {
                        window.location.href = '../SuccessPage.html';
                    } else {
                        alert("提交失败");
                        console.log(data);
                    }
                },
                //调用出错执行的函数
                error: function (data) {
                    var json = eval(data)
                    //请求出错处理
                    alert(JSON.parse(json.responseText)["Message"]);
                }
            });
        }

    </script>
</head>
<body>

    <div class="ds2-mobilepreview ds2-page--wrapper">

        <!--googleon: all-->
        <main class="main " role="main">
            <div class="ds2-main-wrapper ds2-page--row-expanded">
                <div class="ds2-page--top-spacing">
                    <div class="tdaForm">
                        <link rel="stylesheet" href="../Content/clientlib.min.1532359576587.min.css" type="text/css">
                        <div id="ng-app" ng-app="app">
                            <div ng-controller="AppController">
                                <div class="container-fluid" gcdm-app gcdm-api-key="3aa570a9-98ef-4cd5-9614-1f95a1062b89" gcdm-business-context="bmwdigital/CN-zh" gcdm-api-endpoint="https://customer.bmwgroup.cn/" gcdm-default-frame-endpoint="/formcomponents/apiFrames" gcdm-portal-frame-endpoint="/formcomponents/portalFrames" gcdm-api-secret="02dfbb00-e1df-4a3e-b8b5-081468e633c6">

                                    <div class="ecrFrom-main" ng-controller="testDriveController">
                                        <span ng-model="vtree" ng-init="vtree={&#34;series&#34;:
                                              [{&#34;value&#34;:&#34;1&#34;,&#34;text&#34;:&#34;S01&#34;},
                                              {&#34;value&#34;:&#34;2&#34;,&#34;text&#34;:&#34;S02&#34;},
                                              {&#34;value&#34;:&#34;3&#34;,&#34;text&#34;:&#34;T01&#34;},
                                              {&#34;value&#34;:&#34;4&#34;,&#34;text&#34;:&#34;T02&#34;}]}" hidden></span>
                                        <img src="$banner$" style="max-width:100%;" />
                                        <img src="$image$" style="max-width:100%;" />
                                        <!--<img src="../Images/car3.gif" style="max-width:100%;" />-->
                                        <h1 class="title" style="font-size: 30px;">$title$</h1>
                                        <h3 class="title upper-case">$subtitle$</h3>
                                        <p style="margin-bottom:40px">
                                            $content$
                                        </p>
                                        <form name="myForm" novalidate class="form-horizontal" role="form" gcdm-form-container-tda gcdm-brand="BMW">
                                            <div>
                                                <span id="sysNotAvailable" gcdm-system-not-available-error-message>
                                                </span>
                                            </div>
                                            <div class="person-info clearfix" style="padding-bottom: 10px;">
                                                <h3 class="title">请填写您的信息</h3>
                                                $formsettings$
                                            </div>
                                            <div class="law one-line">
                                                <span class="tips"><a style="color:red;">*</a>带星号的选项必须填写</p></span>
                                            </div>
                                            <div class="action-bar"  style="position: fixed;bottom: 10px;padding-right: 40px;">
                                                <div class="action">
                                                    <span class="button button-blue" onclick="SubmitClick()" gcdm-form-submit>提交</span>
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                    <canvas id="canvas" width="150" height="50" style="display:none;"></canvas>


                                    <input type="hidden" id="shortenBase" value="/content/bmw/marketCN/bmw_com_cn" />
                                    <input type="hidden" id="shortenMapper" value="/content/bmw/marketCN/bmw_com_cn/zh_CN:/zh" />


                                    <span ng-model="successUrl" ng-init="successUrl='/content/bmw/marketCN/bmw_com_cn/zh_CN/ssl/requests/success'" hidden></span>
                                    <span id="failUrl" hidden>/content/bmw/marketCN/bmw_com_cn/zh_CN/ssl/requests/fail</span>

                                </div>
                            </div>
                        </div>
                        <div class="ds2-row-padding row">

                            <div class="ds2-row-padding row">
                                <div class="acs-commons-resp-colctrl-col gridComponent small-12 medium-12 large-12 columns ds2-component-bottom">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>


</body>
</html>