<ion-header>
  <ion-toolbar>
    <ion-title>预约取消</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-group>
            <ion-item-divider>
                <ion-label>取消原因</ion-label>
            </ion-item-divider>
            <ion-item>
                <ion-text color="danger">*</ion-text><ion-label>取消原因</ion-label>
                <ion-select [(ngModel)]="shareData.appointmentinfo['mcs_cancelreasonnew']" okText="确认" cancelText="取消">
                    <ion-select-option value="10">待料</ion-select-option>
                    <ion-select-option value="20">价格太高</ion-select-option>
                    <ion-select-option value="30">设备不足</ion-select-option>
                    <ion-select-option value="40">堵车</ion-select-option>
                    <ion-select-option value="50">技术不足</ion-select-option>
                    <ion-select-option value="60">天气不好</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">取消描述</ion-label>
                <ion-textarea [(ngModel)]="shareData.appointmentinfo['mcs_canceldes']"></ion-textarea>
            </ion-item>
        </ion-item-group>
        <ion-button expand="block" type="button" (click)="saveOnClick()">确定</ion-button>
    </ion-list>
</ion-content>
