<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <!-- <ion-back-button text="返回" defaultHref="/saleing/onlylead/list"></ion-back-button> -->
      </ion-buttons>
      <ion-title>保存成功</ion-title>
      <ion-buttons slot="end">
          <ion-button [routerLink]="['/serving/home/tabs']">
              <ion-icon slot="icon-only" name="home" [routerLink]="['/serving/home/tabs']"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scroll-y="false">
  <ion-card>
      <ion-card-content>
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <div style="height: 30px;">
                      </div>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                  </ion-col>
                  <ion-col>
                      <div style="height: 80px;">
                          <img src="./assets/img/circle.png" />
                      </div>
                  </ion-col>
                  <ion-col>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col class="title" style="text-align:center">
                    保存成功
                  </ion-col>
              </ion-row>
              <ion-row>
                 <!--  <ion-col>
                      <ion-button color="primary" class="button-outline" [routerLink]="['/saleing/onlylead/detail']" [queryParams]="{id:mod.id}">
                          查看详情
                      </ion-button>
                  </ion-col> -->
                  <ion-col style="text-align: center;">
                      <ion-button color="primary" class="button-outline" [routerLink]="['/serving/surveyorder/list']">
                          返回列表
                      </ion-button>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>
</ion-content>