<ion-header>
    <ion-toolbar style="height:45px;">
        <ion-buttons slot="start" style="margin-top: 3px;">
            <ion-back-button text="返回" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{model.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <img src="http://sf-test.mediaman.com.cn/img/hero-mobile.2f1b5428.jpg" />
        </ion-row>
        <ion-row>
            <div data-v-48849fa2="" class="column is-half-desktop preorder-fill-info">
                <div data-v-48849fa2="" class="lead-form-container">
                    <div data-v-48849fa2="" class="preorder-form-container">
                        <div data-v-48849fa2="" class="title">完善预订信息</div><section data-v-00de53e1="" data-v-48849fa2="" class="form-container">
                            <section data-v-00de53e1="" class="columns is-centered">
                                <section data-v-00de53e1="" class="column">
                                    <!----><div data-v-00de53e1="" class="field">
                                        <!---->
                                        <div data-v-00de53e1="" class="control has-icons-right is-clearfix">
                                            <input type="text" autocomplete="on" placeholder="请输入您姓名" data-vv-name="fullName" class="input is-danger"> <!----> <!----> <!---->
                                            <span class="icon is-right has-text-danger"><i class="mdi mdi-alert-circle mdi-24px"></i></span>
                                        </div> <!---->
                                    </div>
                                    <div data-v-00de53e1="" class="field">
                                        <!---->
                                        <div data-v-00de53e1="" class="block gender-section">
                                            <div data-v-00de53e1="" class="label-radio active">
                                                <input data-v-00de53e1="" type="radio" name="gender" value="1" id="gender-gentleman">
                                                <label data-v-00de53e1="" for="gender-gentleman">先生</label>
                                            </div>
                                            <div data-v-00de53e1="" class="label-radio">
                                                <input data-v-00de53e1="" type="radio" name="gender" value="2" id="gender-lady">
                                                <label data-v-00de53e1="" for="gender-lady">女士</label>
                                            </div>
                                        </div> <!---->
                                    </div>
                                    <div data-v-00de53e1="" class="field">
                                        <!----> <div data-v-00de53e1="" class="control is-clearfix">
                                            <input type="text" autocomplete="on" maxlength="30" placeholder="请输入您的手机号" data-vv-name="mobilePhone" class="input"> <!----> <!---->
                                            <small class="help counter is-invisible">
                                                11 / 30
                                            </small>
                                        </div> <!---->
                                    </div><div data-v-00de53e1="" class="region">
                                        <div data-v-00de53e1="" class="field">
                                            <!---->
                                            <div data-v-00de53e1="" class="region-inner">
                                                <div data-v-00de53e1="" class="control item province is-expanded">
                                                    <span class="select is-fullwidth">
                                                        <select data-vv-name="provinceCode">
                                                            <!---->
                                                            <option data-v-00de53e1="" value="0">北京市</option>
                                                            <option data-v-00de53e1="" value="1">天津市</option>
                                                            <option data-v-00de53e1="" value="2">河北省</option>
                                                            <option data-v-00de53e1="" value="3">山西省</option>
                                                            <option data-v-00de53e1="" value="4">内蒙古自治区</option>
                                                            <option data-v-00de53e1="" value="5">辽宁省</option>
                                                            <option data-v-00de53e1="" value="6">吉林省</option>
                                                            <option data-v-00de53e1="" value="7">黑龙江省</option>
                                                            <option data-v-00de53e1="" value="8">上海市</option>
                                                            <option data-v-00de53e1="" value="9">江苏省</option>
                                                            <option data-v-00de53e1="" value="10">浙江省</option>
                                                            <option data-v-00de53e1="" value="11">安徽省</option>
                                                            <option data-v-00de53e1="" value="12">福建省</option>
                                                            <option data-v-00de53e1="" value="13">江西省</option>
                                                            <option data-v-00de53e1="" value="14">山东省</option>
                                                            <option data-v-00de53e1="" value="15">河南省</option>
                                                            <option data-v-00de53e1="" value="16">湖北省</option>
                                                            <option data-v-00de53e1="" value="17">湖南省</option>
                                                            <option data-v-00de53e1="" value="18">广东省</option>
                                                            <option data-v-00de53e1="" value="19">广西壮族自治区</option>
                                                            <option data-v-00de53e1="" value="20">海南省</option>
                                                            <option data-v-00de53e1="" value="21">重庆市</option>
                                                            <option data-v-00de53e1="" value="22">四川省</option>
                                                            <option data-v-00de53e1="" value="23">贵州省</option>
                                                            <option data-v-00de53e1="" value="24">云南省</option>
                                                            <option data-v-00de53e1="" value="25">西藏自治区</option>
                                                            <option data-v-00de53e1="" value="26">陕西省</option>
                                                            <option data-v-00de53e1="" value="27">甘肃省</option>
                                                            <option data-v-00de53e1="" value="28">青海省</option>
                                                            <option data-v-00de53e1="" value="29">宁夏回族自治区</option>
                                                            <option data-v-00de53e1="" value="30">新疆维吾尔自治区</option>
                                                        </select>
                                                    </span> <!---->
                                                </div>
                                                <div data-v-00de53e1="" class="control is-expanded item city">
                                                    <span class="select is-fullwidth">
                                                        <select data-vv-name="cityCode">
                                                            <!---->
                                                            <option data-v-00de53e1="" value="0">重庆市-市辖区</option>
                                                            <option data-v-00de53e1="" value="1">市辖县</option>
                                                        </select>
                                                    </span> <!---->
                                                </div>
                                            </div> <!---->
                                        </div>
                                    </div><!---->
                                    <div data-v-00de53e1="" class="field buttons-section">
                                        <!---->
                                        <div data-v-00de53e1="" class="buttons control">
                                            <button data-v-00de53e1="" class="button is-block btn-normal">
                                                重新预订
                                            </button>
                                            <button data-v-00de53e1="" class="button is-block btn-normal btn-save">
                                                确认订单 <!---->
                                            </button>
                                        </div> <!---->
                                    </div>
                                </section>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>
