<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="返回" defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>系统设置</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-list lines="none">           
  </ion-list>
  <ion-list lines="full">
      <ion-item [routerLink]="['/base/sys/message-settings']">
          <ion-icon  color="primary" slot="start" name="volume-high" size="large"></ion-icon>
          <ion-label>
              <h3>消息通知设置</h3>
          </ion-label>
      </ion-item>    
  </ion-list>
  <ion-list lines="full">
        <ion-item [routerLink]="['/base/sys/change-password']">
            <ion-icon  color="primary"  slot="start" name="clipboard" size="large"></ion-icon>
            <ion-label>
                <h3>修改密码</h3>
            </ion-label>
        </ion-item>
  </ion-list>
  <ion-list lines="full">
        <ion-item (click)="clearCache()" >
                <ion-icon  color="primary" slot="start" name="logo-buffer" size="large"></ion-icon>
                <ion-label>
                    <h3>清除缓存</h3>
                </ion-label>
                <ion-note slot="end" >                     
                  <p>{{mod.CacheSize}} M</p>   
                </ion-note>
        </ion-item>
  </ion-list>
  <ion-list lines="full">
        <ion-item [routerLink]="['/base/sys/about']">
            <ion-icon  color="primary"  slot="start" name="logo-octocat" size="large"></ion-icon>
            <ion-label>
                <h3>关于</h3>
            </ion-label>
            <ion-note slot="end" >                     
                    <p>版本 0.0.1</p>   
            </ion-note>
        </ion-item>
  </ion-list>
  <ion-list lines="full">
        <ion-item [routerLink]="['/base/sys/log']">
            <ion-icon  color="primary"  slot="start" name="bug" size="large"></ion-icon>
            <ion-label>
                <h3>错误日志</h3>
            </ion-label>
        </ion-item>
  </ion-list>
  <section style="text-align:center;">
        <ion-button  expand="block" type="button"  (click)="showModal()">退出登录</ion-button>
  </section>   

  <Modal [(ngModel)]="this.state.modal1" [popup]="true" [animationType]="'slide-up'" (onClose)="onClose()">
        <List [renderHeader]="renderHeader" [className]="'popup-list'">      
          <ListItem> <div Button [type]="''" (onClick)="logout()" style="color:red">退出登录</div> </ListItem>
          <ListItem> <div Button [type]="''" (onClick)="onClose()">取消</div> </ListItem>
        </List>
</Modal>
  <br />
  <br />    
  
</ion-content>
